workflows/Backup workflows to git repository on Github.json
{"createdAt":"2024-12-27T12:57:07.489Z","updatedAt":"2024-12-27T12:57:26.000Z","id":"YYvju0lDVcJrgFEX","name":"Backup workflows to git repository on Github","active":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"b09ae4c6-ad75-4b3b-a78a-4cc2d48b2d24","name":"GitHub","type":"n8n-nodes-base.github","position":[1300,320],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"AsyAG3gLSVbSWGr5","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"shashikanth171"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"639582ef-f13e-4844-bd10-647718079121","name":"Globals","type":"n8n-nodes-base.set","position":[600,240],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"9df89713-220e-43b9-b234-b8f5612629cf","name":"n8n","type":"n8n-nodes-base.n8n","position":[840,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"e8FeEwTVjs4nDYFl","name":"n8n account"}}},{"parameters":{"options":{}},"id":"43a60315-d381-4ac4-be4c-f6a158651a00","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1060,240],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"41a7da89-1c8c-4100-8c30-d0788962efc1","name":"If","type":"n8n-nodes-base.if","position":[1500,320],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"ab9246eb-a253-4d76-b33b-5f8f12342542","name":"If1","type":"n8n-nodes-base.if","position":[2380,600],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"72e4a5a4-6dfe-4b5c-b57b-7c1c9625e967","name":"Code","type":"n8n-nodes-base.code","position":[2060,300],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"68f14ac5-14d6-432e-9e6b-25df610eadac","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[1680,480],"typeVersion":1,"credentials":{"githubApi":{"id":"AsyAG3gLSVbSWGr5","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"e50f00a3-292c-4285-b767-8d6ee4606575","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[2740,800],"typeVersion":1,"credentials":{"githubApi":{"id":"AsyAG3gLSVbSWGr5","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"4b2d375c-a339-404c-babd-555bd2fc4091","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[380,240],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"ea026e96-0db1-41fd-b003-2f2bf4662696","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2900,820],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"9c402daa-6d03-485d-b8a0-58f1b65d396d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[2520,600],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"1d9216d9-bf8d-4945-8a58-22fb1ffc9be8","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1800,500],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"60a3953b-d9f1-4afd-b299-e314116b96c6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1500,220],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"6df689fb-cb49-4634-9d1e-59648a1e7219","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2000,200],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"f2340ad0-71a1-4c74-8d90-bcb974b8b305","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[780,140],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"617bea19-341a-4e9d-b6fd-6b417e58d756","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[520,380],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2532"},"pinData":{},"versionId":"6f25cf36-5f3e-495b-9480-2cea69b361c2","triggerCount":0,"tags":[]}