workflows/medium affliate.json
{"createdAt":"2024-12-31T16:48:53.847Z","updatedAt":"2024-12-31T19:50:33.000Z","id":"oLy2FZjI4oWkgG3Z","name":"medium affliate","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"3e1ff397-482d-4cb7-ab36-5b0175aeb3a4","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"title":"={{ $json.titleContents[0] }}","contentFormat":"html","content":"={{ $('HTML').item.json.html }}","additionalFields":{"publishStatus":"draft"}},"type":"n8n-nodes-base.medium","typeVersion":1,"position":[900,60],"id":"be62f398-06a2-465e-8fb8-7a459701b117","name":"Medium","credentials":{"mediumApi":{"id":"C2ushfYwzMMeQuh8","name":"Medium account"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>NordVPN: Your Ultimate Shield for Online Privacy and Security</title>\n</head>\n<body>\n    <header>\n        <h1>NordVPN: Unleash the Power of Secure, Lightning-Fast Internet</h1>\n        <h2>Discover why millions trust NordVPN for uncompromising privacy, blazing speeds, and unrestricted online access</h2>\n    </header>\n\n    <main>\n        <section id=\"hook\">\n            <p>Imagine settling in for a cozy movie night, only to find your favorite streaming service blocked. Or worse, receiving a notification that your personal data has been compromised in yet another cyber attack. In today's digital age, these scenarios are all too common. But what if there was a way to browse, stream, and work online with complete peace of mind? Enter NordVPN – your digital guardian in the vast and often treacherous online world.</p>\n        </section>\n\n        <section id=\"introduction\">\n            <p>NordVPN is not just another virtual private network service. It's a comprehensive solution designed to protect your online identity, secure your data, and unlock the full potential of the internet. In this post, we'll dive deep into what makes NordVPN stand out in the crowded VPN market and why it might be the perfect fit for your digital lifestyle.</p>\n        </section>\n\n        <section id=\"top-reviews\">\n            <h3>What Users Are Saying</h3>\n            <blockquote>\"NordVPN is an exceptional VPN for streaming. It is extremely fast, so content streams smoothly without buffering or other delays.\"[4]</blockquote>\n            <blockquote>\"NordVPN consistently receives great reviews from leading experts. Both PCMag.com and Techradar.com have named NordVPN the best VPN provider in the market for its strong pro-privacy stance and feature variety.\"[5]</blockquote>\n            <blockquote>\"NordVPN is still a top-tier choice for those seeking reliable, fast, and secure VPN services. The quality and range of features justify the pricing it offers.\"[8]</blockquote>\n        </section>\n\n        <section id=\"service-overview\">\n            <h3>How NordVPN Works</h3>\n            <p>NordVPN creates a secure, encrypted tunnel for your online traffic, masking your IP address and protecting your data from prying eyes. Here are some key features that set NordVPN apart:</p>\n            <ul>\n                <li>Next-generation encryption for unbreakable security</li>\n                <li>Vast network of 6,400+ servers across 111 countries</li>\n                <li>Proprietary NordLynx protocol for lightning-fast speeds</li>\n                <li>Strict no-logs policy, independently audited</li>\n                <li>Threat Protection feature to block malware and ads</li>\n            </ul>\n        </section>\n\n        <section id=\"benefits\">\n            <h3>Why Choose NordVPN?</h3>\n            <ol>\n                <li><strong>Unparalleled Speed:</strong> NordVPN consistently tops speed tests, with an average speed loss of just 3.19% on Windows using the NordLynx protocol[9]. This means you can stream 4K content, game online, or video chat without lag or buffering.</li>\n                <li><strong>Robust Security:</strong> With features like Double VPN, Onion over VPN, and automatic kill switch, NordVPN offers military-grade protection for your online activities[4].</li>\n                <li><strong>Global Content Access:</strong> Bypass geo-restrictions and access your favorite content from anywhere in the world, thanks to NordVPN's extensive server network[7].</li>\n            </ol>\n        </section>\n\n        <section id=\"unique-selling-points\">\n            <h3>What Sets NordVPN Apart</h3>\n            <dl>\n                <dt>Meshnet Feature</dt>\n                <dd>NordVPN's unique Meshnet feature allows you to create a secure private network, connecting up to 60 devices for safe file sharing, remote work, and even virtual LAN parties[5].</dd>\n                <dt>Threat Protection</dt>\n                <dd>Unlike many competitors, NordVPN offers built-in protection against malware, intrusive ads, and online trackers, enhancing your overall browsing experience[7].</dd>\n                <dt>Independently Audited</dt>\n                <dd>NordVPN's no-logs policy has been independently audited multiple times, providing transparency and trust that your data truly remains private[7].</dd>\n            </dl>\n        </section>\n\n        <section id=\"user-experience\">\n            <h3>Seamless User Experience</h3>\n            <p>NordVPN prides itself on its user-friendly interface, making it accessible for both beginners and advanced users. The app features a Quick Connect button for instant protection, while still offering advanced settings for those who want more control. As one user notes, \"The interface is clean and intuitive, making it easy for beginners to navigate while still offering advanced options for seasoned VPN users.\"[8]</p>\n        </section>\n\n        <section id=\"pricing\">\n            <h3>Flexible Pricing to Suit Your Needs</h3>\n            <table>\n                <tr>\n                    <th>Plan</th>\n                    <th>Features</th>\n                    <th>Price</th>\n                </tr>\n                <tr>\n                    <td>Standard</td>\n                    <td>VPN, Malware protection</td>\n                    <td>Starting at $3.39/month</td>\n                </tr>\n                <tr>\n                    <td>Plus</td>\n                    <td>VPN, Malware protection, Password manager</td>\n                    <td>Starting at $4.39/month</td>\n                </tr>\n                <tr>\n                    <td>Complete</td>\n                    <td>VPN, Malware protection, Password manager, Encrypted cloud storage</td>\n                    <td>Starting at $5.39/month</td>\n                </tr>\n            </table>\n            <p>All plans come with a 30-day money-back guarantee, allowing you to try NordVPN risk-free[5].</p>\n        </section>\n\n        <section id=\"call-to-action\">\n            <h3>Ready to Take Control of Your Online Privacy?</h3>\n            <p><strong>Don't leave your digital life vulnerable for another moment. Join millions of satisfied users and experience the internet as it should be – free, fast, and secure.</strong></p>\n            <button><a href=\"https://nordvpn.com\" rel=\"nofollow sponsored\">Try NordVPN Risk-Free Today!</a></button>\n        </section>\n\n        <section id=\"conclusion\">\n            <h3>Embrace a Safer, Faster Internet with NordVPN</h3>\n            <p>In an age where online privacy is increasingly under threat, NordVPN stands as a beacon of security and freedom. With its unmatched combination of speed, security features, and user-friendly design, NordVPN is more than just a VPN – it's your passport to a worry-free online experience. Whether you're streaming, working, or simply browsing, NordVPN ensures that your digital life remains your own. Don't settle for less when it comes to your online privacy and security. Choose NordVPN and take the first step towards a safer, unrestricted internet today.</p>\n        </section>\n    </main>\n\n    <footer>\n        <p>Disclaimer: This post contains affiliate links. If you make a purchase through these links, I may earn a commission at no extra cost to you. This helps support the maintenance of this blog. Rest assured, I only recommend products I truly believe in and use myself.</p>\n    </footer>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,60],"id":"35c3d431-8b74-405d-ad04-8634de4f509c","name":"HTML"},{"parameters":{"jsCode":"// Get all inputs from the previous node\nconst inputs = $input.all();\n\n// Function to extract text between tags\nfunction extractTextBetweenTags(text, tagName) {\n  const regex = new RegExp(`<${tagName}[^>]*>(.*?)</${tagName}>`, 'gi');\n  const matches = [];\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    matches.push(match[1].trim());\n  }\n  return matches;\n}\n\n// Initialize an array to store results\nconst results = [];\n\n// Process each input item\nfor (const item of inputs) {\n  // Get the HTML content from the current item\n  const html = item.json.html || item.json.content || item.html || item.content;\n  \n  if (html) {\n    // Extract content from title tags\n    const titleContents = extractTextBetweenTags(html, 'title');\n    \n    // Add the result to the results array\n    results.push({ json: { titleContents } });\n  }\n}\n\n// Return the results\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,60],"id":"1bea35a0-0f9d-4e5a-b503-1f3748765729","name":"Code"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"\"\"Here's an updated prompt to generate an affiliate marketing blog post in HTML format:\n\nCreate an engaging and persuasive affiliate marketing blog post for [Service Name] in HTML format, using the following structure:\n\n1. HTML structure:\n    - Start with the <!DOCTYPE html> declaration and proper <html>, <head>, and <body> tags.\n    - Include a <title> tag in the <head> section.\n    - Use appropriate HTML5 semantic tags like <header>, <main>, <section>, <article>, and <footer>.\n2. Title:\n    - Use an <h1> tag for the main title (max 100 characters) that includes [Service Name] and its key benefit.\n3. Subtitle:\n    - Use an <h2> tag for a compelling subtitle (max 200 characters) that expands on the title and entices readers.\n4. Hook (Russell Brunson style):\n    - Wrap this section in a <section> tag with an appropriate class or id.\n    - Start with a relatable story or scenario addressing the target audience's pain points or desires.\n    - Use vivid language and emotional triggers to capture attention.\n    - End with a curiosity-driven transition to the main content.\n5. Introduction:\n    - Wrap in a <section> tag.\n    - Briefly introduce [Service Name] and its main purpose.\n    - Include a clear thesis statement outlining the post's structure.\n6. Image Placement:\n    - Use <img> tags for images, providing appropriate alt text and src attributes.\n    - Wrap images in <figure> tags and include <figcaption> if necessary.\n    - Example: <figure><img src=\"image-url.jpg\" alt=\"Description of image\"><figcaption>Caption text</figcaption></figure>\n7. Top Reviews:\n    - Wrap in a <section> tag.\n    - Use Perplexity to search for and include 3-5 top positive reviews of [Service Name].\n    - Present each review in a <blockquote> tag.\n8. Service Overview:\n    - Wrap in a <section> tag.\n    - Use <h3> tags for subheadings.\n    - Provide a concise explanation of how [Service Name] works.\n    - Use an unordered list <ul> to highlight 3-5 key features.\n9. Affiliate Link Placement:\n    - Use <a> tags for affiliate links, setting the rel attribute to \"nofollow sponsored\".\n    - Example: <a href=\"affiliate-link-url\" rel=\"nofollow sponsored\">Try [Service Name] Now</a>\n    - Wrap call-to-action text around the link in a <strong> tag.\n10. Benefits and Use Cases:\n    - Wrap in a <section> tag.\n    - Use <h3> tags for subheadings.\n    - Describe at least 3 major benefits using an ordered list <ol>.\n    - Include real-world examples or use cases to illustrate its value.\n11. Unique Selling Points:\n    - Wrap in a <section> tag.\n    - Analyze the Perplexity search results to identify and emphasize the service's unique advantages.\n    - Use a definition list <dl> to compare these points to competitor offerings if relevant.\n12. User Experience:\n    - Wrap in a <section> tag.\n    - Discuss the ease of use and user interface based on review insights.\n    - Use <p> tags for paragraphs and <strong> for emphasis.\n13. Pricing and Plans:\n    - Wrap in a <section> tag.\n    - Use a <table> to outline the available pricing tiers or subscription plans.\n    - Highlight any free trials, discounts, or special offers.\n14. Call-to-Action:\n    - Wrap in a <section> tag.\n    - Create a compelling CTA encouraging readers to try [Service Name].\n    - Use a <button> tag styled as a link for the CTA.\n15. Conclusion:\n    - Wrap in a <section> tag.\n    - Summarize the main points of the post.\n    - Reinforce why [Service Name] is worth considering.\n16. Footer:\n    - Use a <footer> tag.\n    - Include a disclaimer about your affiliate relationship for transparency.\n\nAdditional guidelines:\n\n- Use appropriate CSS classes or inline styles for formatting and layout.\n- Ensure proper indentation and formatting of the HTML code for readability.\n- Use semantic HTML tags wherever possible for better SEO and accessibility.\n- Aim for a total word count of 1500-2000 words.\n- Incorporate relevant keywords naturally for SEO purposes.\n- Maintain a conversational yet professional tone throughout the post.\n\nRemember to create content that not only promotes [Service Name] but also provides genuine value to your readers, establishing you as a trusted authority in your niche.\"\"\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"여기에 질문 입력\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[780,-100],"id":"8ece1b52-a9ca-479b-8f2c-6eddd0e1b2ba","name":"HTTP Request"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Medium","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"36f53fe4-78ad-4175-8a94-6531aa689fc2","triggerCount":0,"tags":[]}