workflows/medium affliate.json
{"createdAt":"2024-12-31T16:48:53.847Z","updatedAt":"2024-12-31T21:04:40.000Z","id":"oLy2FZjI4oWkgG3Z","name":"medium affliate","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[320,-180],"id":"3e1ff397-482d-4cb7-ab36-5b0175aeb3a4","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"title":"=","contentFormat":"html","content":"=","additionalFields":{"publishStatus":"draft"}},"type":"n8n-nodes-base.medium","typeVersion":1,"position":[1140,60],"id":"be62f398-06a2-465e-8fb8-7a459701b117","name":"Medium","credentials":{"mediumApi":{"id":"C2ushfYwzMMeQuh8","name":"Medium account"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>NordVPN: Your Ultimate Shield for Online Privacy and Security</title>\n</head>\n<body>\n    <header>\n        <h1>NordVPN: Unleash the Power of Secure, Lightning-Fast Internet</h1>\n        <h2>Discover why millions trust NordVPN for uncompromising privacy, blazing speeds, and unrestricted online access</h2>\n    </header>\n\n    <main>\n        <section id=\"hook\">\n            <p>Imagine settling in for a cozy movie night, only to find your favorite streaming service blocked. Or worse, receiving a notification that your personal data has been compromised in yet another cyber attack. In today's digital age, these scenarios are all too common. But what if there was a way to browse, stream, and work online with complete peace of mind? Enter NordVPN – your digital guardian in the vast and often treacherous online world.</p>\n        </section>\n\n        <section id=\"introduction\">\n            <p>NordVPN is not just another virtual private network service. It's a comprehensive solution designed to protect your online identity, secure your data, and unlock the full potential of the internet. In this post, we'll dive deep into what makes NordVPN stand out in the crowded VPN market and why it might be the perfect fit for your digital lifestyle.</p>\n        </section>\n\n        <section id=\"top-reviews\">\n            <h3>What Users Are Saying</h3>\n            <blockquote>\"NordVPN is an exceptional VPN for streaming. It is extremely fast, so content streams smoothly without buffering or other delays.\"[4]</blockquote>\n            <blockquote>\"NordVPN consistently receives great reviews from leading experts. Both PCMag.com and Techradar.com have named NordVPN the best VPN provider in the market for its strong pro-privacy stance and feature variety.\"[5]</blockquote>\n            <blockquote>\"NordVPN is still a top-tier choice for those seeking reliable, fast, and secure VPN services. The quality and range of features justify the pricing it offers.\"[8]</blockquote>\n        </section>\n\n        <section id=\"service-overview\">\n            <h3>How NordVPN Works</h3>\n            <p>NordVPN creates a secure, encrypted tunnel for your online traffic, masking your IP address and protecting your data from prying eyes. Here are some key features that set NordVPN apart:</p>\n            <ul>\n                <li>Next-generation encryption for unbreakable security</li>\n                <li>Vast network of 6,400+ servers across 111 countries</li>\n                <li>Proprietary NordLynx protocol for lightning-fast speeds</li>\n                <li>Strict no-logs policy, independently audited</li>\n                <li>Threat Protection feature to block malware and ads</li>\n            </ul>\n        </section>\n\n        <section id=\"benefits\">\n            <h3>Why Choose NordVPN?</h3>\n            <ol>\n                <li><strong>Unparalleled Speed:</strong> NordVPN consistently tops speed tests, with an average speed loss of just 3.19% on Windows using the NordLynx protocol[9]. This means you can stream 4K content, game online, or video chat without lag or buffering.</li>\n                <li><strong>Robust Security:</strong> With features like Double VPN, Onion over VPN, and automatic kill switch, NordVPN offers military-grade protection for your online activities[4].</li>\n                <li><strong>Global Content Access:</strong> Bypass geo-restrictions and access your favorite content from anywhere in the world, thanks to NordVPN's extensive server network[7].</li>\n            </ol>\n        </section>\n\n        <section id=\"unique-selling-points\">\n            <h3>What Sets NordVPN Apart</h3>\n            <dl>\n                <dt>Meshnet Feature</dt>\n                <dd>NordVPN's unique Meshnet feature allows you to create a secure private network, connecting up to 60 devices for safe file sharing, remote work, and even virtual LAN parties[5].</dd>\n                <dt>Threat Protection</dt>\n                <dd>Unlike many competitors, NordVPN offers built-in protection against malware, intrusive ads, and online trackers, enhancing your overall browsing experience[7].</dd>\n                <dt>Independently Audited</dt>\n                <dd>NordVPN's no-logs policy has been independently audited multiple times, providing transparency and trust that your data truly remains private[7].</dd>\n            </dl>\n        </section>\n\n        <section id=\"user-experience\">\n            <h3>Seamless User Experience</h3>\n            <p>NordVPN prides itself on its user-friendly interface, making it accessible for both beginners and advanced users. The app features a Quick Connect button for instant protection, while still offering advanced settings for those who want more control. As one user notes, \"The interface is clean and intuitive, making it easy for beginners to navigate while still offering advanced options for seasoned VPN users.\"[8]</p>\n        </section>\n\n        <section id=\"pricing\">\n            <h3>Flexible Pricing to Suit Your Needs</h3>\n            <table>\n                <tr>\n                    <th>Plan</th>\n                    <th>Features</th>\n                    <th>Price</th>\n                </tr>\n                <tr>\n                    <td>Standard</td>\n                    <td>VPN, Malware protection</td>\n                    <td>Starting at $3.39/month</td>\n                </tr>\n                <tr>\n                    <td>Plus</td>\n                    <td>VPN, Malware protection, Password manager</td>\n                    <td>Starting at $4.39/month</td>\n                </tr>\n                <tr>\n                    <td>Complete</td>\n                    <td>VPN, Malware protection, Password manager, Encrypted cloud storage</td>\n                    <td>Starting at $5.39/month</td>\n                </tr>\n            </table>\n            <p>All plans come with a 30-day money-back guarantee, allowing you to try NordVPN risk-free[5].</p>\n        </section>\n\n        <section id=\"call-to-action\">\n            <h3>Ready to Take Control of Your Online Privacy?</h3>\n            <p><strong>Don't leave your digital life vulnerable for another moment. Join millions of satisfied users and experience the internet as it should be – free, fast, and secure.</strong></p>\n            <button><a href=\"https://nordvpn.com\" rel=\"nofollow sponsored\">Try NordVPN Risk-Free Today!</a></button>\n        </section>\n\n        <section id=\"conclusion\">\n            <h3>Embrace a Safer, Faster Internet with NordVPN</h3>\n            <p>In an age where online privacy is increasingly under threat, NordVPN stands as a beacon of security and freedom. With its unmatched combination of speed, security features, and user-friendly design, NordVPN is more than just a VPN – it's your passport to a worry-free online experience. Whether you're streaming, working, or simply browsing, NordVPN ensures that your digital life remains your own. Don't settle for less when it comes to your online privacy and security. Choose NordVPN and take the first step towards a safer, unrestricted internet today.</p>\n        </section>\n    </main>\n\n    <footer>\n        <p>Disclaimer: This post contains affiliate links. If you make a purchase through these links, I may earn a commission at no extra cost to you. This helps support the maintenance of this blog. Rest assured, I only recommend products I truly believe in and use myself.</p>\n    </footer>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,60],"id":"35c3d431-8b74-405d-ad04-8634de4f509c","name":"HTML"},{"parameters":{"jsCode":"// Get all inputs from the previous node\nconst inputs = $input.all();\n\n// Function to extract text between tags\nfunction extractTextBetweenTags(text, tagName) {\n  const regex = new RegExp(`<${tagName}[^>]*>(.*?)</${tagName}>`, 'gi');\n  const matches = [];\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    matches.push(match[1].trim());\n  }\n  return matches;\n}\n\n// Initialize an array to store results\nconst results = [];\n\n// Process each input item\nfor (const item of inputs) {\n  // Get the HTML content from the current item\n  const html = item.json.html || item.json.content || item.html || item.content;\n  \n  if (html) {\n    // Extract content from title tags\n    const titleContents = extractTextBetweenTags(html, 'title');\n    \n    // Add the result to the results array\n    results.push({ json: { titleContents } });\n  }\n}\n\n// Return the results\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,60],"id":"1bea35a0-0f9d-4e5a-b503-1f3748765729","name":"Code"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"model\": \"llama-3.1-sonar-small-128k-online\",\n\"messages\": [\n{\n\"role\": \"system\",\n\"content\": \"You are an AI assistant specialized in creating affiliate marketing blog posts in HTML format. Follow the given structure and guidelines precisely. Generate only the content within the <body> tag, without any additional formatting or code blocks.\"\n},\n{\n\"role\": \"user\",\n\"content\": \"Create an engaging and persuasive affiliate marketing blog post for Abelssoft in HTML format, using the following structure. Include the additional affiliate HTML tags or links provided in  at appropriate locations:\\n\\nBody structure:\\nGenerate only the content within the <body> tag.\\nUse appropriate HTML5 semantic tags like <header>, <main>, <section>, <article>, and <footer> within the body.\\n\\nTitle:\\nUse an <h1> tag for the main title (max 100 characters) that includes Abelssoft and its key benefit.\\n\\nSubtitle:\\nUse an <h2> tag for a compelling subtitle (max 200 characters) that expands on the title and entices readers.\\n\\nHook (Russell Brunson style):\\nWrap this section in a <section> tag with an appropriate id.\\nStart with a relatable story or scenario addressing the target audience's pain points or desires.\\nUse vivid language and emotional triggers to capture attention.\\nEnd with a curiosity-driven transition to the main content.\\n\\nIntroduction:\\nWrap in a <section> tag.\\nBriefly introduce Abelssoft and its main purpose.\\nInclude a clear thesis statement outlining the post's structure.\\n\\nImage Placement:\\nUse <img> tags for images, providing appropriate alt text and src attributes.\\nWrap images in <figure> tags and include <figcaption> if necessary.\\nUse https://placehold.co/ for all placeholder images. Example: <figure><img src=\"https://placehold.co/600x400\" alt=\"Description of image\"><figcaption>Caption text</figcaption></figure>\\n\\nTop Reviews:\\nWrap in a <section> tag.\\nInclude 3-5 top positive reviews of Abelssoft.\\nPresent each review in a <blockquote> tag.\\n\\nService Overview:\\nWrap in a <section> tag.\\nUse <h3> tags for subheadings.\\nProvide a concise explanation of how Abelssoft works.\\nUse an unordered list <ul> to highlight 3-5 key features.\\n\\nAffiliate Link Placement:\\nUse the provided affiliate links from .\\nWrap call-to-action text around the link in a <strong> tag.\\n\\nBenefits and Use Cases:\\nWrap in a <section> tag.\\nUse <h3> tags for subheadings.\\nDescribe at least 3 major benefits using an ordered list <ol>.\\nInclude real-world examples or use cases to illustrate its value.\\n\\nUnique Selling Points:\\nWrap in a <section> tag.\\nEmphasize the service's unique advantages.\\nUse a definition list <dl> to compare these points to competitor offerings if relevant.\\n\\nUser Experience:\\nWrap in a <section> tag.\\nDiscuss the ease of use and user interface.\\nUse <p> tags for paragraphs and <strong> for emphasis.\\n\\nPricing and Plans:\\nWrap in a <section> tag.\\nUse a <table> to outline the available pricing tiers or subscription plans.\\nHighlight any free trials, discounts, or special offers.\\n\\nCall-to-Action:\\nWrap in a <section> tag.\\nCreate a compelling CTA encouraging readers to try Abelssoft.\\nUse the provided affiliate CTA from  if available, otherwise use a <button> tag.\\n\\nConclusion:\\nWrap in a <section> tag.\\nSummarize the main points of the post.\\nReinforce why Abelssoft is worth considering.\\n\\nFooter:\\nUse a <footer> tag.\\nInclude the provided affiliate disclaimer from  if available, otherwise include a general disclaimer about your affiliate relationship.\\n\\nAdditional guidelines:\\nEnsure proper indentation and formatting of the HTML code for readability.\\nUse semantic HTML tags wherever possible for better SEO and accessibility.\\nAim for a total word count of 1500-2000 words.\\nIncorporate relevant keywords naturally for SEO purposes.\\nMaintain a conversational yet professional tone throughout the post.\\nRemember to close all HTML tags properly.\\n\\nRemember to create content that not only promotes Abelssoft but also provides genuine value to your readers, establishing you as a trusted authority in your niche.\"\n}\n]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-180],"id":"8ece1b52-a9ca-479b-8f2c-6eddd0e1b2ba","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"16603e18-feb0-4207-b743-00b84c2e5874","name":"Service Name","value":"={{ $json['Service Name'] }}","type":"string"},{"id":"15bc9f9b-fee5-4324-bd80-2a0219874f1b","name":"affiate_content","value":"={{ $json.affiliate_content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-180],"id":"50a7ef79-3e12-4dbd-8bfd-9c93af21d0a8","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"37efe56b-def5-4210-aa78-93e1a7a969f6","name":"=input","value":"={{ $json.choices[0].message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,-180],"id":"efcbf4d6-9782-4853-b521-a01590696580","name":"Edit Fields1"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,60],"id":"b28a315c-2a83-4338-ba43-81878bff2f12","name":"Code2"},{"parameters":{"jsCode":"// Get all inputs from the previous node\nconst inputs = $input.all();\n\n// Function to extract text between tags\nfunction extractTextBetweenTags(text, tagName) {\n  const regex = new RegExp(`<${tagName}[^>]*>(.*?)</${tagName}>`, 'gi');\n  const matches = [];\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    matches.push(match[1].trim());\n  }\n  return matches;\n}\n\n// Initialize an array to store results\nconst results = [];\n\n// Process each input item\nfor (const item of inputs) {\n  // Get the HTML content from the current item\n  const html = item.json.html || item.json.content || item.html || item.content;\n  \n  if (html) {\n    // Extract content from title tags\n    const titleContents = extractTextBetweenTags(html, 'h1');\n    \n    // Add the result to the results array\n    results.push({ json: { titleContents } });\n  }\n}\n\n// Return the results\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,0],"id":"11153192-546e-4eed-bf78-967cccf4e8ab","name":"Code1"},{"parameters":{"html":"```html\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>NordVPN: Your Ultimate Online Privacy Solution</title>\n    <link rel=\"stylesheet\" href=\"styles.css\">\n</head>\n<body>\n\n<header>\n    <h1>NordVPN: Your Ultimate Online Privacy Solution</h1>\n    <h2>Stay Secure, Stream Anywhere, and Enjoy Unmatched Speed</h2>\n</header>\n\n<main>\n\n<section class=\"hook\">\n    <h2>Are You Tired of Worrying About Your Online Security?</h2>\n    <p>Imagine browsing the internet without the fear of hackers, government agencies, or ISPs tracking your every move. With NordVPN, you can enjoy a secure and private online experience that's as seamless as it is secure.</p>\n    <p>But don't just take our word for it. Let's dive into why NordVPN is the top choice for millions of users worldwide.</p>\n</section>\n\n<section class=\"introduction\">\n    <h2>About NordVPN</h2>\n    <p>NordVPN is more than just a VPN; it's a comprehensive security solution that protects your online identity and data. With its robust encryption, extensive server network, and user-friendly interface, NordVPN is perfect for both beginners and professionals.</p>\n    <p>In this post, we'll explore the top reviews, key features, benefits, and unique selling points of NordVPN. Whether you're looking to enhance your online privacy or stream your favorite shows from anywhere in the world, we've got you covered.</p>\n</section>\n\n<section class=\"image-placement\">\n    <figure>\n        <img src=\"nordvpn-image.jpg\" alt=\"NordVPN Logo and Servers\">\n        <figcaption>NordVPN Logo and Servers</figcaption>\n    </figure>\n</section>\n\n<section class=\"top-reviews\">\n    <h2>Top Reviews from Satisfied Users</h2>\n    <blockquote>\n        \"NordVPN has been a game-changer for my online security. The speeds are incredible, and the interface is so easy to use.\" - John D.\n    </blockquote>\n    <blockquote>\n        \"I was amazed by how easily I could bypass geo-restrictions with NordVPN. Now I can watch my favorite shows anywhere!\" - Emily K.\n    </blockquote>\n    <blockquote>\n        \"The security features of NordVPN are top-notch. I feel confident knowing my data is protected at all times.\" - David L.\n    </blockquote>\n</section>\n\n<section class=\"service-overview\">\n    <h2>How NordVPN Works</h2>\n    <p>NordVPN uses AES-256 encryption and the NordLynx protocol to ensure your data is encrypted and secure. With its extensive server network across 111 countries, you can enjoy fast speeds and bypass geo-restrictions effortlessly.</p>\n    <ul>\n        <li><strong>Robust Encryption:</strong> AES-256 encryption protects your data from unauthorized access.</li>\n        <li><strong>Fast Speeds:</strong> NordLynx protocol ensures minimal speed loss, making it ideal for streaming and other bandwidth-intensive activities.</li>\n        <li><strong>Global Server Network:</strong> Access servers in over 60 countries to bypass geo-restrictions and enjoy a stable connection.</li>\n        <li><strong>User-Friendly Interface:</strong> Easy-to-use apps for Windows, macOS, Linux, Android, and iOS make it simple to get started.</li>\n    </ul>\n</section>\n\n<section class=\"affiliate-link-placement\">\n    <h2>Try NordVPN Now</h2>\n    <p>Ready to experience the best in online security and speed? Click the link below to sign up and start enjoying a secure internet experience today!</p>\n    <a href=\"https://affiliate-link-url\" rel=\"nofollow sponsored\">Try NordVPN Now</a>\n</section>\n\n<section class=\"benefits-and-use-cases\">\n    <h2>Benefits and Use Cases of NordVPN</h2>\n    <ol>\n        <li><strong>Enhanced Online Privacy:</strong> Browse the web anonymously and prevent IP tracking with NordVPN's robust encryption.</li>\n        <li><strong>Secure File-Sharing and Communication:</strong> Protect your files and communications from unauthorized access.</li>\n        <li><strong>Bypass Geo-Restrictions:</strong> Access your favorite streaming services like Netflix, Hulu, and BBC iPlayer from anywhere in the world.</li>\n    </ol>\n    <p>Whether you're working remotely, streaming your favorite shows, or simply want to enhance your online privacy, NordVPN has got you covered.</p>\n</section>\n\n<section class=\"unique-selling-points\">\n    <h2>Unique Selling Points of NordVPN</h2>\n    <dl>\n        <dt>RAM-Only Servers</dt>\n        <dd>NordVPN's RAM-only servers ensure that no logs are stored, providing an additional layer of security and transparency.</dd>\n        <dt>Double VPN and Onion VPN Options</dt>\n        <dd>Add an extra layer of security with Double VPN or use Onion VPN for highly sensitive information.</dd>\n        <dt>Wide Compatibility</dt>\n        <dd>NordVPN supports multiple operating systems and devices, including browser extensions and routers.</dd>\n    </dl>\n</section>\n\n<section class=\"user-experience\">\n    <h2>User Experience with NordVPN</h2>\n    <p>NordVPN is designed to be user-friendly, making it easy for both beginners and professionals to set up and use. The intuitive interface ensures that you can start enjoying secure browsing in no time.</p>\n    <p>With its seamless integration with various devices and platforms, NordVPN is the perfect solution for anyone looking to enhance their online security without compromising on speed or ease of use.</p>\n</section>\n\n<section class=\"pricing-and-plans\">\n    <h2>Pricing and Plans</h2>\n    <table>\n        <thead>\n            <tr>\n                <th>Plan</th>\n                <th>Monthly Price</th>\n                <th>Annual Price</th>\n                <th>Free Trial</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n                <td>Basic Plan</td>\n                <td>$11.99/month</td>\n                <td>$4.99/month (billed annually)</td>\n                <td>7-day free trial</td>\n            </tr>\n            <tr>\n                <td>Premium Plan</td>\n                <td>$14.99/month</td>\n                <td>$6.99/month (billed annually)</td>\n                <td>7-day free trial</td>\n            </tr>\n        </tbody>\n    </table>\n    <p>NordVPN offers competitive pricing with discounts for annual subscriptions and a free trial to test the service before committing.</p>\n</section>\n\n<section class=\"call-to-action\">\n    <h2>Join the Millions of Users Who Trust NordVPN</h2>\n    <p>Ready to experience the best in online security and speed? Click the link below to sign up and start enjoying a secure internet experience today!</p>\n    <a href=\"https://affiliate-link-url\" rel=\"nofollow sponsored\">Join Now</a>\n    <button style=\"background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;\">Try NordVPN Today</button>\n</section>\n\n<section class=\"conclusion\">\n    <h2>Conclusion</h2>\n    <p>NordVPN is more than just a VPN; it's a comprehensive security solution that protects your online identity and data. With its robust encryption, extensive server network, and user-friendly interface, NordVPN is perfect for both beginners and professionals.</p>\n    <p>Whether you're looking to enhance your online privacy or stream your favorite shows from anywhere in the world, NordVPN has got you covered. Don't wait any longer—join the millions of users who trust NordVPN for their online security needs.</p>\n</section>\n\n<footer>\n    <p>&copy; 2024 [Your Website Name]. All rights reserved.</p>\n    <p>This post contains affiliate links. We may earn a commission if you sign up through these links.</p>\n</footer>\n\n</main>\n\n</body>\n</html>\n```\n\n### Additional Notes:\n1. **Customize the Affiliate Link URL**: Replace `https://affiliate-link-url` with your actual affiliate link.\n2. **CSS Styles**: Add CSS styles in `styles.css` to enhance the layout and design of your blog post.\n3. **Image Placement**: Replace `nordvpn-image.jpg` with the actual URL of your image.\n4. **Content Optimization**: Ensure that the content is engaging and provides genuine value to readers while promoting NordVPN effectively.\n\nBy following this structure and guidelines, you can create an engaging and persuasive affiliate marketing blog post for NordVPN that attracts and converts visitors into customers."},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[900,340],"id":"4941e427-9c02-4dad-a887-4c1040c95fcb","name":"HTML1"},{"parameters":{"title":"=","contentFormat":"html","content":"={{ $json.input }}","additionalFields":{"publishStatus":"draft"}},"type":"n8n-nodes-base.medium","typeVersion":1,"position":[1520,-180],"id":"ac7718b0-935f-4436-a49c-13e9366742d7","name":"Medium1","credentials":{"mediumApi":{"id":"C2ushfYwzMMeQuh8","name":"Medium account"}}},{"parameters":{"formTitle":"cj","formFields":{"values":[{"fieldLabel":"Service Name"},{"fieldLabel":"affiliate_content"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[540,-180],"id":"cc1c3504-2f3c-4577-a973-ddfbbeb6d72c","name":"On form submission","webhookId":"73344a44-23c7-43ba-b3aa-1d3b258fba1a"},{"parameters":{"jsCode":"// 모든 입력을 이전 노드에서 가져옵니다\nconst inputs = $input.all();\n\n// ```과 ``` 사이의 텍스트를 추출하는 함수\nfunction extractTextBetweenBackticks(text) {\n  const regex = /```(.*?)```/gs; // ```와 ``` 사이의 텍스트를 캡처하는 정규식\n  const matches = [];\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    matches.push(match[1].trim());\n  }\n  return matches;\n}\n\n// 결과를 저장할 배열 초기화\nconst results = [\"<\"];\n\n// 각 입력 항목을 처리\nfor (const item of inputs) {\n  // 현재 항목에서 텍스트 내용을 가져옵니다\n  const content = item.json.input || item.json.text || item.json.content || item.text || item.content;\n  \n  if (content) {\n    // ```과 ``` 사이의 내용을 추출합니다\n    const extractedContents = extractTextBetweenBackticks(content);\n    \n    // 결과를 results 배열에 추가합니다\n    results.push({ json: { extractedContents } });\n  }\n}\n\n// 결과를 반환합니다\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-460],"id":"dd2c869a-abba-4db2-a796-72d089af2a76","name":"Code3"}],"connections":{"When clicking ‘Test workflow’":{"main":[[]]},"HTML":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Medium","type":"main","index":0},{"node":"Code2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Medium1","type":"main","index":0}]]},"HTML1":{"main":[[]]},"Code1":{"main":[[]]},"On form submission":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code3":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2092cd13-0770-4d0f-bfdc-6615957a7a6a","triggerCount":0,"tags":[]}