workflows/mm automation.json
{"createdAt":"2024-12-25T17:40:41.921Z","updatedAt":"2024-12-25T18:24:20.000Z","id":"p6WnVqQQXFH77nWZ","name":"mm automation","active":true,"nodes":[{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Type|select","condition":"equals","selectValue":"Mental Models"},{"key":"Tag|relation","condition":"contains","relationValue":"16515667534680d09ae2ddda99b92264"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[760,0],"id":"d91d7f79-1e00-4457-b497-dfd8f1c83293","name":"Notion1","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1560,280],"id":"1423c14a-280b-4dd6-bb1e-447fb6d84ef1","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"lg3WEXtgqxQtkuGE","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=너는 찰리 멍거야.\n해당 개념에 관해 찰리 멍거의 방식으로 정리해줘: {{ $json.name }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1100,0],"id":"15ea854a-4cfe-4daa-accf-fd3265b4e303","name":"Basic LLM Chain"},{"parameters":{"promptType":"define","text":"=다음에 이어서 찰리 멍거식으로 해당 개념을 실제로 사용할 수 있게 정리해줘\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1440,0],"id":"50683f5b-fce1-4f86-b38e-bd738529f993","name":"Basic LLM Chain1"},{"parameters":{"promptType":"define","text":"=마지막으로 찰리 멍거 식으로 해당 개념과 연계되어 추가로 정리하면 좋을 분야별 핵심 개념들 정리하고 그 이유를 적어줘\n===\n{{ $('Basic LLM Chain').item.json.text }}\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1800,0],"id":"d3e7d29c-9bc0-41b6-8a01-a472c9d88624","name":"Basic LLM Chain2"},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"={{ $('Notion1').item.json.url }}","mode":"url"},"blockUi":{"blockValues":[{"type":"heading_2","textContent":"정리"},{"textContent":"={{ $('Basic LLM Chain').item.json.text }}"},{"type":"heading_2","textContent":"활용 방안"},{"textContent":"={{ $('Basic LLM Chain1').item.json.text }}"},{"type":"heading_2","textContent":"연결 분야"},{"textContent":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2160,0],"id":"79ccc736-f978-48eb-9bc5-28b421f0d74b","name":"Notion2","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion1').item.json.url }}","mode":"url"},"propertiesUi":{"propertyValues":[{"key":"Tag|relation","relationValue":["={{ $('Notion1').item.json.property_tag[1] }}"]}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2380,0],"id":"35675ada-1fa3-4943-8733-8e040465d53e","name":"Notion","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7fc4e73c-05f8-48bf-9974-27d1dc48cf0d","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[680,280],"id":"ea9d696c-5991-43ec-8eed-0abf4e191071","name":"If"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[460,-20],"id":"3e955f1e-a625-4c4b-8752-2d83a79cb3c6","name":"Schedule Trigger"}],"connections":{"Notion1":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Notion2":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"19a36e81-4da4-4209-a2b7-31f9b0443d1d","triggerCount":1,"tags":[]}