workflows/My workflow.json
{"createdAt":"2024-12-29T19:43:23.495Z","updatedAt":"2024-12-29T19:46:00.000Z","id":"SYEurYTmBi89aFIo","name":"My workflow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"148dee0e-5c36-4eac-8d54-053e73ffbe85","name":"When clicking ‘Test workflow’"},{"parameters":{"tableId":"prompts","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"d6932231-d1ac-49d2-ba6c-3ce8fe3dea2c"},{"fieldId":"title"},{"fieldId":"content"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[760,0],"id":"891c8b90-050f-4109-9815-245a65e9b84b","name":"Supabase","credentials":{"supabaseApi":{"id":"QleY1ISHWaTKDcZO","name":"prompt storage supabase"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Type|select","condition":"equals","selectValue":"Prompt"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[220,0],"id":"99e6df45-b1f2-4bc4-ae8b-77152ab99466","name":"Notion","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[440,0],"id":"2b22e0d2-b94a-4df7-93bb-732c75c498fc","name":"Notion1","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ae82d7e0-bb3d-4578-87b0-6a479ad77228","triggerCount":0,"tags":[]}