workflows/My workflow 2.json
{"createdAt":"2025-01-04T20:26:33.340Z","updatedAt":"2025-01-04T20:26:33.340Z","id":"ximCrIoYROjoUZxR","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"id":"dfed3141-93b9-4dcb-8802-0b037b642e1d","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,500]},{"parameters":{"operation":"getAll","tableId":"companies_input"},"id":"c88d72a2-40b5-4a80-80e3-5eee2e96a6d4","name":"Get companies","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[100,500]},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"include":"selected","includeFields":"name,website","options":{}},"id":"2536ebc2-e8bc-4939-8d01-dc59b4aa30aa","name":"Select company name and website","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[360,500]},{"parameters":{"name":"text_retrieval_tool","description":"Call this tool to return all text from the given website. Query should be full website URL.","source":"parameter","workflowJson":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2220,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bb8be616-3227-4705-8520-1827069faacd\",\n      \"name\": \"Set domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2440,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bdf29340-f135-489f-848e-1c7fa43a01df\",\n      \"name\": \"Add protocool to domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2640,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.data }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"9f0aa264-08c1-459a-bb99-e28599fe8f76\",\n      \"name\": \"Set response\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3300,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"cec7c8e8-bf5e-43d5-aa41-876293dbec78\",\n      \"name\": \"Get website\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2860,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"html\": \"={{ $json.data }}\",\n        \"options\": {\n          \"ignore\": \"a,img\"\n        }\n      },\n      \"id\": \"1af94fcb-bca3-45c4-9277-18878c75d417\",\n      \"name\": \"Convert HTML to Markdown\",\n      \"type\": \"n8n-nodes-base.markdown\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3080,\n        620\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Convert HTML to Markdown\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Convert HTML to Markdown\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"},"id":"24bf4407-e4e7-4758-bb2d-37118839c2fb","name":"Text (social media)","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1120,660]},{"parameters":{"name":"url_retrieval_tool","description":"Call this tool to return all URLs from the given website. Query should be full website URL.","source":"parameter","workflowJson":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2200,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"extractHtmlContent\",\n        \"extractionValues\": {\n          \"values\": [\n            {\n              \"key\": \"output\",\n              \"cssSelector\": \"a\",\n              \"returnValue\": \"attribute\",\n              \"returnArray\": true\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1972e13e-d923-45e8-9752-e4bf45faaccf\",\n      \"name\": \"Retrieve URLs\",\n      \"type\": \"n8n-nodes-base.html\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        3060,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"fieldToSplitOut\": \"output\",\n        \"options\": {}\n      },\n      \"id\": \"19703fbc-05ff-4d80-ab53-85ba6d39fc3f\",\n      \"name\": \"Split out URLs\",\n      \"type\": \"n8n-nodes-base.splitOut\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3280,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"compare\": \"selectedFields\",\n        \"fieldsToCompare\": \"href\",\n        \"options\": {}\n      },\n      \"id\": \"5cc988e7-de9b-4177-b5e7-edb3842202c8\",\n      \"name\": \"Remove duplicated\",\n      \"type\": \"n8n-nodes-base.removeDuplicates\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3720,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"04ced063-09f0-496c-9b28-b8095f9e2297\",\n              \"name\": \"href\",\n              \"value\": \"={{ $json.href.startsWith(\\\"/\\\") ? $('Add protocool to domain (URL)').item.json[\\\"domain\\\"] + $json.href : $json.href }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"includeOtherFields\": true,\n        \"include\": \"selected\",\n        \"includeFields\": \"title\",\n        \"options\": {}\n      },\n      \"id\": \"4715a25d-93a7-4056-8768-e3f886a1a0c9\",\n      \"name\": \"Set domain to path\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3940,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"d01ea6a8-7e75-40d4-98f2-25d42b245f36\",\n              \"leftValue\": \"={{ $json.href.isUrl() }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"boolean\",\n                \"operation\": \"true\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"353deefb-ae69-440c-95b6-fdadacf4bf91\",\n      \"name\": \"Filter out invalid URLs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        4160,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"aggregate\": \"aggregateAllItemData\",\n        \"include\": \"specifiedFields\",\n        \"fieldsToInclude\": \"title,href\",\n        \"options\": {}\n      },\n      \"id\": \"9f87be8c-72d7-4ab1-b297-dc7069b2dd11\",\n      \"name\": \"Aggregate URLs\",\n      \"type\": \"n8n-nodes-base.aggregate\",\n      \"typeVersion\": 1,\n      \"position\": [\n        4380,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"5b9b7353-bd04-4af2-9480-8de135ff4223\",\n              \"leftValue\": \"={{ $json.href }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"string\",\n                \"operation\": \"exists\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"35c8323a-5350-403a-9c2d-114b0527e395\",\n      \"name\": \"Filter out empty hrefs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        3500,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"d9f6a148-6c8c-4a58-89f5-4e9cfcd8d910\",\n      \"name\": \"Set domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2400,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1f974444-da58-4a47-a9c3-ba3091fc1e96\",\n      \"name\": \"Add protocool to domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2620,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"31d7c7d4-8f61-402b-858d-63dd68ac69ee\",\n      \"name\": \"Get website (URL)\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2840,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"53c1c016-7983-4eba-a91d-da2a0523d805\",\n              \"name\": \"response\",\n              \"value\": \"={{ JSON.stringify($json.data) }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"f4b6df77-96be-4b12-9a8b-ae9b7009f13d\",\n      \"name\": \"Set response (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        4600,\n        740\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Retrieve URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Split out URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Split out URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out empty hrefs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Remove duplicated\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain to path\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain to path\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out invalid URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out invalid URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Aggregate URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Aggregate URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out empty hrefs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Remove duplicated\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Retrieve URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"},"id":"e8ba99e2-4dde-43d9-89b7-7789a5e2bf89","name":"URLs (social media)","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1300,660]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"social_media\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"platform\": {\n            \"type\": \"string\",\n            \"description\": \"The name of the social media platform (e.g., LinkedIn, Instagram)\"\n          },\n          \"urls\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"format\": \"uri\",\n              \"description\": \"A URL for the social media platform\"\n            }\n          }\n        },\n        \"required\": [\"platform\", \"urls\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"platforms\"],\n  \"additionalProperties\": false\n}\n"},"id":"00be76ff-f133-4574-9bbf-da8434985105","name":"JSON Parser (social media)","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1460,660]},{"parameters":{"model":"gpt-4o","options":{"responseFormat":"json_object","temperature":0}},"id":"b1a4d4ce-16c3-486a-a8fd-37b604832e5c","name":"OpenAI (social media)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[960,660]},{"parameters":{"model":"gpt-4o","options":{"responseFormat":"text","temperature":0}},"id":"5e63a960-9be6-44a3-b78f-c9e33bf2af2f","name":"OpenAI (profile)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1040,1240]},{"parameters":{"name":"text_retrieval_tool","description":"Call this tool to return all text from the given website. Query should be full website URL.","source":"parameter","workflowJson":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2220,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bb8be616-3227-4705-8520-1827069faacd\",\n      \"name\": \"Set domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2440,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bdf29340-f135-489f-848e-1c7fa43a01df\",\n      \"name\": \"Add protocool to domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2640,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.data }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"9f0aa264-08c1-459a-bb99-e28599fe8f76\",\n      \"name\": \"Set response\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3300,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"cec7c8e8-bf5e-43d5-aa41-876293dbec78\",\n      \"name\": \"Get website\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2860,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"html\": \"={{ $json.data }}\",\n        \"options\": {\n          \"ignore\": \"a,img\"\n        }\n      },\n      \"id\": \"1af94fcb-bca3-45c4-9277-18878c75d417\",\n      \"name\": \"Convert HTML to Markdown\",\n      \"type\": \"n8n-nodes-base.markdown\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3080,\n        620\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Convert HTML to Markdown\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Convert HTML to Markdown\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"},"id":"e0d2d0ec-e3ec-454c-97a3-dd4869af53f6","name":"Text (profile)","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1200,1240]},{"parameters":{"name":"url_retrieval_tool","description":"Call this tool to return all URLs from the given website. Query should be full website URL.","source":"parameter","workflowJson":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2200,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"extractHtmlContent\",\n        \"extractionValues\": {\n          \"values\": [\n            {\n              \"key\": \"output\",\n              \"cssSelector\": \"a\",\n              \"returnValue\": \"attribute\",\n              \"returnArray\": true\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1972e13e-d923-45e8-9752-e4bf45faaccf\",\n      \"name\": \"Retrieve URLs\",\n      \"type\": \"n8n-nodes-base.html\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        3060,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"fieldToSplitOut\": \"output\",\n        \"options\": {}\n      },\n      \"id\": \"19703fbc-05ff-4d80-ab53-85ba6d39fc3f\",\n      \"name\": \"Split out URLs\",\n      \"type\": \"n8n-nodes-base.splitOut\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3280,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"compare\": \"selectedFields\",\n        \"fieldsToCompare\": \"href\",\n        \"options\": {}\n      },\n      \"id\": \"5cc988e7-de9b-4177-b5e7-edb3842202c8\",\n      \"name\": \"Remove duplicated\",\n      \"type\": \"n8n-nodes-base.removeDuplicates\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3720,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"04ced063-09f0-496c-9b28-b8095f9e2297\",\n              \"name\": \"href\",\n              \"value\": \"={{ $json.href.startsWith(\\\"/\\\") ? $('Add protocool to domain (URL)').item.json[\\\"domain\\\"] + $json.href : $json.href }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"includeOtherFields\": true,\n        \"include\": \"selected\",\n        \"includeFields\": \"title\",\n        \"options\": {}\n      },\n      \"id\": \"4715a25d-93a7-4056-8768-e3f886a1a0c9\",\n      \"name\": \"Set domain to path\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3940,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"d01ea6a8-7e75-40d4-98f2-25d42b245f36\",\n              \"leftValue\": \"={{ $json.href.isUrl() }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"boolean\",\n                \"operation\": \"true\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"353deefb-ae69-440c-95b6-fdadacf4bf91\",\n      \"name\": \"Filter out invalid URLs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        4160,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"aggregate\": \"aggregateAllItemData\",\n        \"include\": \"specifiedFields\",\n        \"fieldsToInclude\": \"title,href\",\n        \"options\": {}\n      },\n      \"id\": \"9f87be8c-72d7-4ab1-b297-dc7069b2dd11\",\n      \"name\": \"Aggregate URLs\",\n      \"type\": \"n8n-nodes-base.aggregate\",\n      \"typeVersion\": 1,\n      \"position\": [\n        4380,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"5b9b7353-bd04-4af2-9480-8de135ff4223\",\n              \"leftValue\": \"={{ $json.href }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"string\",\n                \"operation\": \"exists\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"35c8323a-5350-403a-9c2d-114b0527e395\",\n      \"name\": \"Filter out empty hrefs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        3500,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"d9f6a148-6c8c-4a58-89f5-4e9cfcd8d910\",\n      \"name\": \"Set domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2400,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1f974444-da58-4a47-a9c3-ba3091fc1e96\",\n      \"name\": \"Add protocool to domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2620,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"31d7c7d4-8f61-402b-858d-63dd68ac69ee\",\n      \"name\": \"Get website (URL)\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2840,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"53c1c016-7983-4eba-a91d-da2a0523d805\",\n              \"name\": \"response\",\n              \"value\": \"={{ JSON.stringify($json.data) }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"f4b6df77-96be-4b12-9a8b-ae9b7009f13d\",\n      \"name\": \"Set response (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        4600,\n        740\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Retrieve URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Split out URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Split out URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out empty hrefs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Remove duplicated\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain to path\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain to path\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out invalid URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out invalid URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Aggregate URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Aggregate URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out empty hrefs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Remove duplicated\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Retrieve URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"},"id":"06183703-3352-4d6d-9b29-658e3ba1fccc","name":"URLs (profile)","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1380,1240]},{"parameters":{"model":"gpt-4o","options":{"responseFormat":"text","temperature":0}},"id":"86aeb75e-dfd5-43c1-a92e-44f7a4effbca","name":"OpenAI (features)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[980,1780]},{"parameters":{"name":"text_retrieval_tool","description":"Call this tool to return all text from the given website. Query should be full website URL.","source":"parameter","workflowJson":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2220,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bb8be616-3227-4705-8520-1827069faacd\",\n      \"name\": \"Set domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2440,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"bdf29340-f135-489f-848e-1c7fa43a01df\",\n      \"name\": \"Add protocool to domain\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2640,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0\",\n              \"name\": \"response\",\n              \"value\": \"={{ $json.data }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"9f0aa264-08c1-459a-bb99-e28599fe8f76\",\n      \"name\": \"Set response\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3300,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"cec7c8e8-bf5e-43d5-aa41-876293dbec78\",\n      \"name\": \"Get website\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2860,\n        620\n      ]\n    },\n    {\n      \"parameters\": {\n        \"html\": \"={{ $json.data }}\",\n        \"options\": {\n          \"ignore\": \"a,img\"\n        }\n      },\n      \"id\": \"1af94fcb-bca3-45c4-9277-18878c75d417\",\n      \"name\": \"Convert HTML to Markdown\",\n      \"type\": \"n8n-nodes-base.markdown\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3080,\n        620\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Convert HTML to Markdown\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Convert HTML to Markdown\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"},"id":"be493d57-768f-45a9-9d4c-02afa296c316","name":"Text (features)","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1140,1780]},{"parameters":{"name":"url_retrieval_tool","description":"Call this tool to return all URLs from the given website. Query should be full website URL.","source":"parameter","workflowJson":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"id\": \"05107436-c9cb-419b-ae8a-b74d309a130d\",\n      \"name\": \"Execute workflow\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        2200,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"extractHtmlContent\",\n        \"extractionValues\": {\n          \"values\": [\n            {\n              \"key\": \"output\",\n              \"cssSelector\": \"a\",\n              \"returnValue\": \"attribute\",\n              \"returnArray\": true\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1972e13e-d923-45e8-9752-e4bf45faaccf\",\n      \"name\": \"Retrieve URLs\",\n      \"type\": \"n8n-nodes-base.html\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        3060,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"fieldToSplitOut\": \"output\",\n        \"options\": {}\n      },\n      \"id\": \"19703fbc-05ff-4d80-ab53-85ba6d39fc3f\",\n      \"name\": \"Split out URLs\",\n      \"type\": \"n8n-nodes-base.splitOut\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3280,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"compare\": \"selectedFields\",\n        \"fieldsToCompare\": \"href\",\n        \"options\": {}\n      },\n      \"id\": \"5cc988e7-de9b-4177-b5e7-edb3842202c8\",\n      \"name\": \"Remove duplicated\",\n      \"type\": \"n8n-nodes-base.removeDuplicates\",\n      \"typeVersion\": 1,\n      \"position\": [\n        3720,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"04ced063-09f0-496c-9b28-b8095f9e2297\",\n              \"name\": \"href\",\n              \"value\": \"={{ $json.href.startsWith(\\\"/\\\") ? $('Add protocool to domain (URL)').item.json[\\\"domain\\\"] + $json.href : $json.href }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"includeOtherFields\": true,\n        \"include\": \"selected\",\n        \"includeFields\": \"title\",\n        \"options\": {}\n      },\n      \"id\": \"4715a25d-93a7-4056-8768-e3f886a1a0c9\",\n      \"name\": \"Set domain to path\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        3940,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"d01ea6a8-7e75-40d4-98f2-25d42b245f36\",\n              \"leftValue\": \"={{ $json.href.isUrl() }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"boolean\",\n                \"operation\": \"true\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"353deefb-ae69-440c-95b6-fdadacf4bf91\",\n      \"name\": \"Filter out invalid URLs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        4160,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"aggregate\": \"aggregateAllItemData\",\n        \"include\": \"specifiedFields\",\n        \"fieldsToInclude\": \"title,href\",\n        \"options\": {}\n      },\n      \"id\": \"9f87be8c-72d7-4ab1-b297-dc7069b2dd11\",\n      \"name\": \"Aggregate URLs\",\n      \"type\": \"n8n-nodes-base.aggregate\",\n      \"typeVersion\": 1,\n      \"position\": [\n        4380,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"conditions\": {\n          \"options\": {\n            \"caseSensitive\": true,\n            \"leftValue\": \"\",\n            \"typeValidation\": \"strict\"\n          },\n          \"conditions\": [\n            {\n              \"id\": \"5b9b7353-bd04-4af2-9480-8de135ff4223\",\n              \"leftValue\": \"={{ $json.href }}\",\n              \"rightValue\": \"\",\n              \"operator\": {\n                \"type\": \"string\",\n                \"operation\": \"exists\",\n                \"singleValue\": true\n              }\n            }\n          ],\n          \"combinator\": \"and\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"35c8323a-5350-403a-9c2d-114b0527e395\",\n      \"name\": \"Filter out empty hrefs\",\n      \"type\": \"n8n-nodes-base.filter\",\n      \"typeVersion\": 2,\n      \"position\": [\n        3500,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"253c2b17-c749-4f0a-93e8-5ff74f1ce49b\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.query }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"d9f6a148-6c8c-4a58-89f5-4e9cfcd8d910\",\n      \"name\": \"Set domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2400,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"ed0f1505-82b6-4393-a0d8-088055137ec9\",\n              \"name\": \"domain\",\n              \"value\": \"={{ $json.domain.startsWith(\\\"http\\\") ? $json.domain : \\\"http://\\\" + $json.domain }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"1f974444-da58-4a47-a9c3-ba3091fc1e96\",\n      \"name\": \"Add protocool to domain (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        2620,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"url\": \"={{ $json.domain }}\",\n        \"options\": {}\n      },\n      \"id\": \"31d7c7d4-8f61-402b-858d-63dd68ac69ee\",\n      \"name\": \"Get website (URL)\",\n      \"type\": \"n8n-nodes-base.httpRequest\",\n      \"typeVersion\": 4.2,\n      \"position\": [\n        2840,\n        740\n      ]\n    },\n    {\n      \"parameters\": {\n        \"assignments\": {\n          \"assignments\": [\n            {\n              \"id\": \"53c1c016-7983-4eba-a91d-da2a0523d805\",\n              \"name\": \"response\",\n              \"value\": \"={{ JSON.stringify($json.data) }}\",\n              \"type\": \"string\"\n            }\n          ]\n        },\n        \"options\": {}\n      },\n      \"id\": \"f4b6df77-96be-4b12-9a8b-ae9b7009f13d\",\n      \"name\": \"Set response (URL)\",\n      \"type\": \"n8n-nodes-base.set\",\n      \"typeVersion\": 3.3,\n      \"position\": [\n        4600,\n        740\n      ]\n    }\n  ],\n  \"connections\": {\n    \"Execute workflow\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Retrieve URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Split out URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Split out URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out empty hrefs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Remove duplicated\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set domain to path\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain to path\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Filter out invalid URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out invalid URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Aggregate URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Aggregate URLs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Set response (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Filter out empty hrefs\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Remove duplicated\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Set domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Add protocool to domain (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Add protocool to domain (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Get website (URL)\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Get website (URL)\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Retrieve URLs\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"pinData\": {}\n}"},"id":"0fb1fb1f-1e5e-47d3-9da4-a050b37587f1","name":"URLs (features)","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.1,"position":[1320,1780]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"feature_name\": {\n        \"type\": \"string\"\n      },\n      \"feature_description\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}\n"},"id":"df169030-549e-43fd-b076-82e719a52b62","name":"JSON Parser (features)","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1480,1780]},{"parameters":{"assignments":{"assignments":[{"id":"ae484e44-36bc-4d88-9772-545e579a261c","name":"company_name","value":"={{ $json.name }}","type":"string"},{"id":"c426ab19-649c-4443-aabb-eb0826680452","name":"company_website","value":"={{ $json.website }}","type":"string"}]},"options":{}},"id":"bb3bbe6e-8eca-4b6b-a5e9-2525edd0548b","name":"Set name and website","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1100,100]},{"parameters":{"assignments":{"assignments":[{"id":"5e15eb77-0a87-44fd-a218-fa666de9bf6e","name":"social_media","value":"={{ $json.output.social_media }}","type":"array"}]},"options":{}},"id":"e1a22b90-9cb2-476c-9f25-0f6ae654660b","name":"Set social media profiles","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,420]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"158e2211-5447-4fe1-bf94-3e2f1f08e089","name":"Merge social media and basic data","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1860,180]},{"parameters":{"assignments":{"assignments":[{"id":"c8594196-8c3a-4517-abbd-014c3e4c0efd","name":"company_profile","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"61bcb58d-fc7c-4574-85c4-9cc8b3e26f2f","name":"Set company profile","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1500,1000]},{"parameters":{"assignments":{"assignments":[{"id":"5e15eb77-0a87-44fd-a218-fa666de9bf6e","name":"features","value":"={{ $json.output }}","type":"array"}]},"options":{}},"id":"5093e7d5-243a-45c2-ae58-6cc8a9ba8c3c","name":"Set features","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,1540]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"152bae7c-7472-492c-bae8-e4a12174fabe","name":"Merge features and profile","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1920,1160]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"e9d3ad1a-38f6-449f-a8fb-63916b3e358b","name":"Merge all data","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2260,640]},{"parameters":{"tableId":"companies_output","dataToSend":"autoMapInputData"},"id":"46c7fa90-05b2-49b5-8bca-0e093378850d","name":"Insert new row","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2480,640]},{"parameters":{"content":"","height":166.55000000000004,"width":157.8125,"color":5},"id":"0cd123aa-8382-4921-873b-a67f221b4eea","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1160,720]},{"parameters":{"content":"","height":166.55000000000004,"width":157.8125,"color":5},"id":"3a1b718c-180f-489b-bfd2-a0039a3723fc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,1320]},{"parameters":{"content":"","height":166.55000000000004,"width":157.8125,"color":5},"id":"8cb9e625-f459-4813-863c-2ece3939475a","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,1860]},{"parameters":{"content":"","height":166.55000000000004,"width":157.8125,"color":4},"id":"dc37288e-f34c-49bf-9eea-2377d6a1b9ef","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,720]},{"parameters":{"content":"","height":166.55000000000004,"width":157.8125,"color":4},"id":"5b75b4f2-7eea-4aa2-940f-195afa52f6ae","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1460,1320]},{"parameters":{"content":"","height":166.55000000000004,"width":157.8125,"color":4},"id":"378e1457-7d3b-4d2c-8267-eb0946f0e52a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,1860]},{"parameters":{"html":"={{ $json.data }}","options":{"ignore":"a,img"}},"id":"3b67f1ae-30b1-40a6-9357-cad7b4fc993e","name":"Convert HTML to Markdown","type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1800,2200]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"output","cssSelector":"a","returnValue":"attribute","returnArray":true}]},"options":{}},"id":"36d3de0e-d524-4e44-be19-4d9ebc24cdf4","name":"Retrieve URLs","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1820,2580]},{"parameters":{"fieldToSplitOut":"output","options":{}},"id":"6509b765-1841-4647-bcc7-777c3b5edac8","name":"Split out URLs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2040,2580]},{"parameters":{"compare":"selectedFields","fieldsToCompare":"href","options":{}},"id":"28fecf4d-89b7-4a09-945a-de09a70596b2","name":"Remove duplicated","type":"n8n-nodes-base.removeDuplicates","typeVersion":1,"position":[2480,2580]},{"parameters":{"assignments":{"assignments":[{"id":"04ced063-09f0-496c-9b28-b8095f9e2297","name":"href","value":"={{ $json.href.startsWith(\"/\") ? $('Add protocool to domain (URL)').item.json[\"domain\"] + $json.href : $json.href }}","type":"string"}]},"includeOtherFields":true,"include":"selected","includeFields":"title","options":{}},"id":"ccd145f8-5f75-4ff9-ae21-9ecaaaae7ea5","name":"Set domain to path","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2700,2580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"d01ea6a8-7e75-40d4-98f2-25d42b245f36","leftValue":"={{ $json.href.isUrl() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cad2a7e6-83cf-4aa4-bc6c-74a1f11a6c5d","name":"Filter out invalid URLs","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2920,2580]},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"title,href","options":{}},"id":"b5c8a9dc-4937-4f1a-b465-be024cc47306","name":"Aggregate URLs","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3140,2580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5b9b7353-bd04-4af2-9480-8de135ff4223","leftValue":"={{ $json.href }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c6a8ecd3-0747-4466-9c4f-c740096cfb8f","name":"Filter out empty hrefs","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2260,2580]},{"parameters":{"assignments":{"assignments":[{"id":"253c2b17-c749-4f0a-93e8-5ff74f1ce49b","name":"domain","value":"={{ $json.query }}","type":"string"}]},"options":{}},"id":"e676ac22-1c6c-4228-a148-67cc2523eede","name":"Set domain (text)","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1160,2200]},{"parameters":{"assignments":{"assignments":[{"id":"ed0f1505-82b6-4393-a0d8-088055137ec9","name":"domain","value":"={{ $json.domain.startsWith(\"http\") ? $json.domain : \"http://\" + $json.domain }}","type":"string"}]},"options":{}},"id":"a080cddd-618b-421d-919e-43940856f841","name":"Add protocool to domain (text)","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1360,2200]},{"parameters":{"url":"={{ $json.domain }}","options":{}},"id":"ca4a9903-c0ce-45f5-a692-30040e474890","name":"Get website (text)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,2200]},{"parameters":{"assignments":{"assignments":[{"id":"2b1c7ff8-06a7-448b-99b7-5ede4b2e0bf0","name":"response","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"ea7ce955-e987-451c-bff2-04e0eecf174f","name":"Set response (text)","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2020,2200]},{"parameters":{"assignments":{"assignments":[{"id":"253c2b17-c749-4f0a-93e8-5ff74f1ce49b","name":"domain","value":"={{ $json.query }}","type":"string"}]},"options":{}},"id":"3cfd4199-affc-4130-98a8-5d627dd6a1ec","name":"Set domain (URL)","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1160,2580]},{"parameters":{"url":"={{ $json.domain }}","options":{}},"id":"956e28f3-3c83-43d7-93d3-0ff4c18112f1","name":"Get website (URL)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,2580]},{"parameters":{"assignments":{"assignments":[{"id":"53c1c016-7983-4eba-a91d-da2a0523d805","name":"response","value":"={{ JSON.stringify($json.data) }}","type":"string"}]},"options":{}},"id":"129fb05d-3b9d-4cd8-a6cb-a558395ea2fd","name":"Set response (URL)","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3360,2580]},{"parameters":{"assignments":{"assignments":[{"id":"ed0f1505-82b6-4393-a0d8-088055137ec9","name":"domain","value":"={{ $json.domain.startsWith(\"http\") ? $json.domain : \"http://\" + $json.domain }}","type":"string"}]},"options":{}},"id":"d2e38ac2-6937-48dd-adac-e9c892ce7fab","name":"Add protocool to domain (URL)","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1380,2580]},{"parameters":{"content":"### Text scraper tool\nThis tool is designed to return all text from the given webpage.\n\n **Consider adding proxy for better crawling accuracy.**\n","height":329.45390772033636,"width":1117.5005339977713,"color":5},"id":"c7b8bf6c-e99f-4428-81a3-9119bfd8976f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1100,2060]},{"parameters":{"content":"### URL scraper tool\nThis tool is designed to return all links (URLs) from the given webpage.\n\n **Consider adding proxy for better crawling accuracy.**","height":328.79842054012374,"width":2467.2678721043376,"color":4},"id":"e42004f5-a32b-42c0-bc31-dc5a9ba811c6","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1100,2440]},{"parameters":{"content":"### Get companies from database\nRetrieve names and websites of companies from Supabase table to process crawling.\n\n **You can replace Supabase with other database of your choice.**","height":400.16865185185225,"width":221.7729148148145},"id":"94ee8a82-e992-4119-8515-a3f72558e204","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,280]},{"parameters":{"content":"### Set parameters for execution\nPass only `name` and `website` values from database. \n\n **If you use other field namings, update this node.**","height":370.14757037037066,"width":221.7729148148145},"id":"829b0cc4-bba4-470f-ad11-65091efa9eb6","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[300,300]},{"parameters":{"content":"### Insert data to database\nAdd new rows in database table with extracted data.\n\n **You can replace Supabase with other database of your choice.**","height":364.786662962963,"width":221.7729148148145},"id":"903bd6a3-1c8a-4605-9dc3-7e47e7ab15d0","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2420,440]},{"parameters":{"content":"### Retrieve social media profile links\nCrawl website to extract social media profile links and return them in unified JSON format.","height":255.42415185185172,"width":339.7128777777775},"id":"beb65054-1d06-4b01-aace-c5e8b744d45d","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,320]},{"parameters":{"content":"##  Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://youtu.be/2W09puFZwtY). \n2. Remember to add your credentials and configure nodes.\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":256.26672065702303,"width":369.60264559047334,"color":3},"id":"d35df231-56ef-4a16-9dbb-3bdb64d29d3e","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-600,560],"typeVersion":1},{"parameters":{"content":"## Autonomous AI crawler\nThis workflow autonomously navigates through given websites and retrieves following data: social media profile links, summarized profile of the company and app features. \n\n **You can modify this workflow to retrieve other type of data (e.g. contact details).**","height":223.30405153310147,"width":369.93062670813185,"color":7},"id":"ab9a30b2-af40-4f7d-8b47-4c34a1a8372d","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","position":[-600,320],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Retrieve social media profile URLs from this website: {{ $json.website }}","hasOutputParser":true,"options":{"systemMessage":"You are an automated web crawler tasked with extracting social media URLs from a webpage provided by the user. You have access to a text retrieval tool to gather all text content from the page and a URL retrieval tool to identify and navigate through links on the page. Utilize the URLs retrieved to crawl additional pages. Your objective is to provide a unified JSON output containing the extracted data (links to all possible social media profiles from the website)."}},"id":"da94e9cd-b2b6-4d2e-8fe2-49eb27b2984d","name":"Social media","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1100,420],"retryOnFail":true},{"parameters":{"content":"### Retrieve company profile\nCrawl website to return summarized info about the company (profile, activity etc.).","height":255.42415185185172,"width":339.7128777777775},"id":"5a52e44b-c86d-4513-b6c3-3f891444288a","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,880]},{"parameters":{"promptType":"define","text":"=Retrieve information about profile of the company from this website: {{ $json.website }}","options":{"systemMessage":"You are an automated web crawler tasked with extracting company profile information from a webpage provided by the user. You have access to a text retrieval tool to gather all text content from the page and a URL retrieval tool to identify and navigate through links on the page. Utilize the URLs retrieved to crawl additional pages. Navigate to the page that potentially includes information about the company and return its brief profile (what it does, products, services, area of activity etc.). Your objective is to provide a short text summary containing the extracted data. Present the information in plain text format, without any formatting, bullet points, or special characters. Limit your response to a concise paragraph of 3-5 sentences. Focus on the most essential details about the company's core business, main products or services, and primary industry or market. Avoid using technical jargon or complex language. If you encounter multiple possible interpretations or conflicting information, provide the most likely or prevalent details. Do not include any disclaimers, explanations of your process, or additional commentary beyond the requested company profile summary."}},"id":"9fffa01d-adb3-4da7-958c-14f9ea03e481","name":"Company profile","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1100,1000],"retryOnFail":true},{"parameters":{"content":"### Retrieve app features\nCrawl website to return unique features of an app (returns feature headline and description).","height":255.42415185185172,"width":339.7128777777775},"id":"7ccba350-3b62-4f78-9547-3335c810e7c8","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,1440]},{"parameters":{"promptType":"define","text":"={{ $json.website }}","hasOutputParser":true,"options":{"systemMessage":"You are an automated web crawler tasked with extracting app features data from a webpage provided by the user. You have access to a text retrieval tool to gather all text content from the page and a URL retrieval tool to identify and navigate through links on the page. Utilize the URLs retrieved to crawl additional pages. Try to find \"features\" page and retrieve data from it. If \"features\" page is not available, try to extract data from other sub-pages that potentially may include this information. Your objective is to provide a unified JSON output containing the extracted data (feature names and descriptions). Limit response to 10 most unique features."}},"id":"60974e22-d53f-464f-b803-ef7a6e08ea27","name":"App features","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1100,1540],"retryOnFail":true}],"connections":{"Execute workflow":{"main":[[{"node":"Get companies","type":"main","index":0}]]},"Get companies":{"main":[[{"node":"Select company name and website","type":"main","index":0}]]},"Select company name and website":{"main":[[{"node":"Set name and website","type":"main","index":0},{"node":"Social media","type":"main","index":0},{"node":"Company profile","type":"main","index":0},{"node":"App features","type":"main","index":0}]]},"Text (social media)":{"ai_tool":[[{"node":"Social media","type":"ai_tool","index":0}]]},"URLs (social media)":{"ai_tool":[[{"node":"Social media","type":"ai_tool","index":0}]]},"JSON Parser (social media)":{"ai_outputParser":[[{"node":"Social media","type":"ai_outputParser","index":0}]]},"OpenAI (social media)":{"ai_languageModel":[[{"node":"Social media","type":"ai_languageModel","index":0}]]},"OpenAI (profile)":{"ai_languageModel":[[{"node":"Company profile","type":"ai_languageModel","index":0}]]},"Text (profile)":{"ai_tool":[[{"node":"Company profile","type":"ai_tool","index":0}]]},"URLs (profile)":{"ai_tool":[[{"node":"Company profile","type":"ai_tool","index":0}]]},"OpenAI (features)":{"ai_languageModel":[[{"node":"App features","type":"ai_languageModel","index":0}]]},"Text (features)":{"ai_tool":[[{"node":"App features","type":"ai_tool","index":0}]]},"URLs (features)":{"ai_tool":[[{"node":"App features","type":"ai_tool","index":0}]]},"JSON Parser (features)":{"ai_outputParser":[[{"node":"App features","type":"ai_outputParser","index":0}]]},"Set name and website":{"main":[[{"node":"Merge social media and basic data","type":"main","index":0}]]},"Set social media profiles":{"main":[[{"node":"Merge social media and basic data","type":"main","index":1}]]},"Merge social media and basic data":{"main":[[{"node":"Merge all data","type":"main","index":0}]]},"Set company profile":{"main":[[{"node":"Merge features and profile","type":"main","index":0}]]},"Set features":{"main":[[{"node":"Merge features and profile","type":"main","index":1}]]},"Merge features and profile":{"main":[[{"node":"Merge all data","type":"main","index":1}]]},"Merge all data":{"main":[[{"node":"Insert new row","type":"main","index":0}]]},"Convert HTML to Markdown":{"main":[[{"node":"Set response (text)","type":"main","index":0}]]},"Retrieve URLs":{"main":[[{"node":"Split out URLs","type":"main","index":0}]]},"Split out URLs":{"main":[[{"node":"Filter out empty hrefs","type":"main","index":0}]]},"Remove duplicated":{"main":[[{"node":"Set domain to path","type":"main","index":0}]]},"Set domain to path":{"main":[[{"node":"Filter out invalid URLs","type":"main","index":0}]]},"Filter out invalid URLs":{"main":[[{"node":"Aggregate URLs","type":"main","index":0}]]},"Aggregate URLs":{"main":[[{"node":"Set response (URL)","type":"main","index":0}]]},"Filter out empty hrefs":{"main":[[{"node":"Remove duplicated","type":"main","index":0}]]},"Set domain (text)":{"main":[[{"node":"Add protocool to domain (text)","type":"main","index":0}]]},"Add protocool to domain (text)":{"main":[[{"node":"Get website (text)","type":"main","index":0}]]},"Get website (text)":{"main":[[{"node":"Convert HTML to Markdown","type":"main","index":0}]]},"Set domain (URL)":{"main":[[{"node":"Add protocool to domain (URL)","type":"main","index":0}]]},"Get website (URL)":{"main":[[{"node":"Retrieve URLs","type":"main","index":0}]]},"Add protocool to domain (URL)":{"main":[[{"node":"Get website (URL)","type":"main","index":0}]]},"Social media":{"main":[[{"node":"Set social media profiles","type":"main","index":0}]]},"Company profile":{"main":[[{"node":"Set company profile","type":"main","index":0}]]},"App features":{"main":[[{"node":"Set features","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bfe691ac-fed4-4ff9-93cc-78a6b350aa2d","triggerCount":0,"tags":[]}