workflows/My workflow.json
{"createdAt":"2024-12-31T20:37:13.361Z","updatedAt":"2024-12-31T20:37:13.361Z","id":"Rn65dHxnXffjlQ0E","name":"My workflow","active":false,"nodes":[{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[400,320],"typeVersion":1,"id":"f8c4ae78-0bda-4e4a-ba61-4bac6a90c7f1"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-120,260],"typeVersion":1,"id":"828717a9-cc3c-4d16-8ec5-502e92217873"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query PostRanking{\n  posts(postedAfter:\"{{new Date(new Date(Date.now()).getTime() - (1000*60*60*1*24)).toUTCString()}}\", order:RANKING, first:5, postedBefore:\"{{new Date(Date.now()).toUTCString()}}\"){\n    edges {\n      node {\n        name\n        tagline\n        description\n        votesCount\n        reviewsRating\n      }\n    }\n  }\n}","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL1","type":"n8n-nodes-base.graphql","position":[80,300],"typeVersion":1,"id":"112b6940-f2b8-4440-9b5f-0fd3dc33c87e"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","position":[620,340],"typeVersion":1,"id":"83237d2a-387b-4ba8-9dd5-2a63dbf58d5d"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord","type":"n8n-nodes-base.discord","position":[820,360],"typeVersion":1,"id":"57575abc-5658-4cce-a58d-3768913f34fc"},{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists1","type":"n8n-nodes-base.itemLists","position":[640,700],"typeVersion":1,"id":"78349c09-59c5-47f7-bc10-277fd986c9b4"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set1","type":"n8n-nodes-base.set","position":[820,700],"typeVersion":1,"id":"04a09fb3-2fa3-4fd5-9f1d-30063902df53"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord1","type":"n8n-nodes-base.discord","position":[1000,700],"typeVersion":1,"id":"7eca5c8c-b29e-4713-ad4a-d4053a28c59b"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,540],"id":"46bfddbc-191c-46c7-8231-77b8a6620859","name":"When clicking ‘Test workflow’"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query GetTopCompanies($topic: String!, $first: Int!) {\n  posts(topic: $topic, order: RANKING, first: $first) {\n    edges {\n      node {\n        id\n        name\n        tagline\n        description\n        votesCount\n        website\n        topics {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":"={\n  \"topic\": \"{{$item.topic}}\",\n  \"first\": {{$node[\"Code\"].json[\"companiesPerTopic\"]}}\n}\n","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL","type":"n8n-nodes-base.graphql","position":[440,700],"typeVersion":1,"id":"e09d439b-f8f9-46aa-876f-8054a4739270"},{"parameters":{"jsCode":"const topics = [\"AI\", \"Productivity\", \"Developer Tools\", \"Marketing\"];\nconst companiesPerTopic = 5;\n\nreturn { json: { topics, companiesPerTopic } };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[120,540],"id":"47ab90b0-687a-4a0d-b4d9-b2298bb42e7d","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[340,540],"id":"26743681-3d3b-4f5f-8687-5bc49ded0229","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1260,720],"id":"e4412774-df2e-4940-862e-aee41a83efc3"},{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[2380,1100],"id":"ac30055d-5601-4e51-9c83-73618e060115"},{"parameters":{"values":{"string":[{"name":"api_token","value":"d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]},"options":{}},"name":"Set API Token","type":"n8n-nodes-base.set","typeVersion":1,"position":[2580,1100],"id":"e436e1d9-b9c1-4112-a885-f938311a8e5a"},{"parameters":{"jsCode":"const topics = [\"AI\", \"Productivity\", \"Developer Tools\", \"Marketing\"];\nconst companiesPerTopic = 5;\n\n// 각 주제를 객체로 변환\nconst topicsArray = topics.map(topic => ({ topic }));\n\nreturn { json: { topics: topicsArray, companiesPerTopic } };"},"name":"Define Topics","type":"n8n-nodes-base.code","typeVersion":1,"position":[2780,1100],"id":"41675300-1225-4708-aa58-a36eadfcbe96"},{"parameters":{"batchSize":1,"options":{}},"name":"Loop Topics","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[2980,1100],"id":"a93e7840-cc07-4bb3-9f6c-cb7fdaa37e19"},{"parameters":{"jsCode":"const companies = $input.json.data.posts.edges.map(edge => {\n  const company = edge.node;\n  return {\n    name: company.name,\n    tagline: company.tagline,\n    votes: company.votesCount,\n    website: company.website,\n    description: company.description,\n    topics: company.topics.edges.map(t => t.node.name)\n  };\n});\n\nreturn { json: { topic: $input.item.topic, companies } };"},"name":"Process Results","type":"n8n-nodes-base.code","typeVersion":1,"position":[3380,1100],"id":"ac5323c7-9a09-4b61-b02a-8842387d6436"},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":2,"position":[3580,1100],"id":"f2e44b8e-3040-49e0-b307-a0b8236cd1ed"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"query GetTopCompanies($topic: String!, $first: Int!) {\n  posts(topic: $topic, order: RANKING, first: $first) {\n    edges {\n      node {\n        id\n        name\n        tagline\n        description\n        votesCount\n        website\n        topics {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}","variables":"={\n  \"topic\": \"{{ $json.topics[0].topic }}\",\n  \"first\": {{$node[\"Define Topics\"].json[\"companiesPerTopic\"]}}\n}"},"name":"GraphQL2","type":"n8n-nodes-base.graphql","typeVersion":1,"position":[3180,1100],"id":"3e9a36ed-df79-4ae1-96cb-f9ff57c4cfe0"}],"connections":{"GraphQL1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"GraphQL":{"main":[[{"node":"Item Lists1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GraphQL","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Discord1":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"Start":{"main":[[{"node":"Set API Token","type":"main","index":0}]]},"Set API Token":{"main":[[{"node":"Define Topics","type":"main","index":0}]]},"Define Topics":{"main":[[{"node":"Loop Topics","type":"main","index":0}]]},"Loop Topics":{"main":[[{"node":"GraphQL2","type":"main","index":0}]]},"Process Results":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"GraphQL2":{"main":[[{"node":"Process Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"40a48e26-4a68-4391-8b83-e6199e39a6d3","triggerCount":0,"tags":[]}