workflows/Notion Mental Model.json
{"createdAt":"2024-12-21T06:17:23.635Z","updatedAt":"2024-12-29T19:54:09.000Z","id":"II9UQatCAYvMWChK","name":"Notion Mental Model","active":true,"nodes":[{"parameters":{"options":{}},"id":"87c52c60-e799-487d-85bf-624f3f92f149","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[1060,1280],"typeVersion":1,"credentials":{"openAiApi":{"id":"lg3WEXtgqxQtkuGE","name":"OpenAi account"}}},{"parameters":{"chunkSize":2000,"chunkOverlap":200},"id":"0bc161d9-d59b-44be-a45b-edd40ed9bfbe","name":"Token Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterTokenSplitter","position":[2140,840],"typeVersion":1},{"parameters":{"options":{}},"id":"cb1c2a60-1a0a-43be-949d-f33ba9a958c4","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1160,60],"typeVersion":3},{"parameters":{"options":{}},"id":"2eaf83d4-20c6-4eb2-8f12-c7fd47810c07","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[-640,1060],"typeVersion":1.3},{"parameters":{"topK":10},"id":"577bc20e-a1f3-4eb1-8831-01644e2adb2f","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[-660,1200],"typeVersion":1},{"parameters":{"options":{}},"id":"b76e02b2-1172-4585-b749-d785711158ae","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-800,1140],"typeVersion":1,"credentials":{"openAiApi":{"id":"lg3WEXtgqxQtkuGE","name":"OpenAi account"}}},{"parameters":{"public":true,"options":{}},"id":"bc7bea5c-2ff3-404c-adce-9e171b5ab17f","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-200,800],"webhookId":"1e6712db-a279-407f-a690-4c4c32362531","typeVersion":1.1},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"id":"e98ac05b-cb09-427e-839a-ba6662370768","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-160,60],"typeVersion":1.2},{"parameters":{"content":"## Switch trigger (optional)\nIf you are on the cloud plan, consider switching to the Notion Trigger Node instead, to save on executions.","height":312.52803480051045,"width":329.16412916774584},"id":"ffc53186-8dd7-4ada-8dc0-cadd60eafa0b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-60,260],"typeVersion":1},{"parameters":{},"id":"522a434e-86f0-4135-9dd8-862234765527","name":"Limit","type":"n8n-nodes-base.limit","position":[1600,200],"typeVersion":1},{"parameters":{},"id":"f2e10df4-3916-42b6-84a7-915448875ea6","name":"Limit1","type":"n8n-nodes-base.limit","position":[2640,200],"typeVersion":1},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>id=eq.{{ $('Input Reference').item.json.id }}"},"id":"4e270dc2-a2a0-4500-82f7-5aff1efd13b3","name":"Delete old embeddings if exist","type":"n8n-nodes-base.supabase","position":[1380,200],"typeVersion":1,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"5pXTUmPtvfWifZmK","name":"n8n supabase"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"mode":"id","value":"={{ $('Input Reference').item.json.id }}"},"returnAll":true,"fetchNestedBlocks":true},"id":"ea78ef37-e356-4dfe-8c82-4b60af29b603","name":"Get page blocks","type":"n8n-nodes-base.notion","position":[1820,200],"executeOnce":true,"typeVersion":2.2,"credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"id","value":"={{ $('Input Reference').item.json.id }}"},{"name":"name","value":"={{ $('Input Reference').item.json.name }}"}]}}},"id":"8e865fdc-da66-4bcb-bde6-3ad1137ed645","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2280,520],"typeVersion":1},{"parameters":{"content":"## Adjust chunk size and overlap\nFor more accurate search results, increase the overlap. For the *text-embedding-ada-002* model the chunk size plus overlap must not exceed 8191","height":264.37628764336097,"width":376.2098538932132},"id":"f3f05052-a6b7-4c8d-9826-5bcbfacd468c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1540,660],"typeVersion":1},{"parameters":{},"id":"6fa79857-3cc7-444f-8302-6dc5a1338b9a","name":"Input Reference","type":"n8n-nodes-base.noOp","position":[940,60],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"}},"id":"4a8f5231-a62f-4829-8849-cc0a5627d6da","name":"Notion Trigger","type":"n8n-nodes-base.notionTrigger","position":[60,380],"typeVersion":1,"disabled":true},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Type|select","condition":"equals","selectValue":"Mental Models"},{"key":"최종 편집 일시|last_edited_time","condition":"equals","lastEditedTime":"={{ $now.minus(1, 'minutes').toISO() }}"}]},"options":{}},"id":"1d1f732d-2e47-443e-904c-d47deea82c54","name":"Get updated pages","type":"n8n-nodes-base.notion","position":[280,60],"typeVersion":2.2,"credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"content":"This placeholder serves as a reference point so it is easier to swap the data source with a different service","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"7855f8a9-2f93-4b1c-a9a5-3b006dca17d0","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","position":[220,-40],"typeVersion":1},{"parameters":{"content":"All chunks of a previous version of the document are being deleted by filtering the meta data by the given ID","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"e099e370-c9f2-4bbd-842b-84b52f67e969","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","position":[660,100],"typeVersion":1},{"parameters":{"content":"Reduce the active streams/items to just 1 to prevent the following nodes from double-processing","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"c7b787ad-77ad-4f6e-824b-265d00ee3fd4","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","position":[920,140],"typeVersion":1},{"parameters":{"content":"Retrieve all page contents/blocks","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"29abb531-2d47-4f96-8d51-564632f3f591","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","position":[1140,140],"typeVersion":1},{"parameters":{"content":"Reduce the active streams/items to just 1 to prevent the following nodes from double-processing","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"226a9d17-dcbb-4c7d-ae60-037c477d55ff","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","position":[1920,100],"typeVersion":1},{"parameters":{"content":"Embed item and store in Vector Store. Depending on the length the content is being split up into multiple chunks/embeds","height":275.841854198618,"width":375.9283286479995,"color":7},"id":"aea00bfa-a9d1-43e5-8951-46b656b5319f","name":"Sticky Note28","type":"n8n-nodes-base.stickyNote","position":[1540,100],"typeVersion":1},{"parameters":{"tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{}},"id":"58a20c80-2c01-4c5f-9268-476e6b902fd8","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[-560,1400],"typeVersion":1,"credentials":{"supabaseApi":{"id":"5pXTUmPtvfWifZmK","name":"n8n supabase"}}},{"parameters":{"content":"Simple chat bot to ask specific questions while having access to the context of the Notion Knowledge Base which was stored in the Vector Store","height":668.724737081502,"width":730.7522093855692,"color":7},"id":"596a59ae-f7fb-4770-b42e-f25cce1acda5","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","position":[-200,680],"typeVersion":1},{"parameters":{"content":"Model used for both creating and reading embeddings","height":275.841854198618,"width":219.31927574471658,"color":7},"id":"84456844-3208-4d70-85d6-ada7a781f307","name":"Sticky Note31","type":"n8n-nodes-base.stickyNote","position":[980,1160],"typeVersion":1},{"parameters":{"mode":"insert","tableName":{"__rl":true,"mode":"list","value":"documents","cachedResultName":"documents"},"options":{}},"id":"4d443344-1eb4-4141-961a-e99416d857d2","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","position":[2260,200],"typeVersion":1,"credentials":{"supabaseApi":{"id":"5pXTUmPtvfWifZmK","name":"n8n supabase"}}},{"parameters":{"content":"Process each page/document separately.","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"7572e7b6-b723-4ad4-8723-345e77859da3","name":"Sticky Note32","type":"n8n-nodes-base.stickyNote","position":[440,-40],"typeVersion":1},{"parameters":{"content":"Store additional meta data with each embed, especially the Notion ID, which can be later used to find all belonging entries of one page, even if they got split into multiple embeds.","height":275.841854198618,"width":376.0759088111347,"color":7},"id":"6cdd9b19-d0b5-4955-8925-3b9379f7cc2e","name":"Sticky Note29","type":"n8n-nodes-base.stickyNote","position":[1540,380],"typeVersion":1},{"parameters":{"content":"Using a manual approach for polling data from Notion for more accuracy.","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"e5518196-f3bf-4143-8709-e01553a31c70","name":"Sticky Note33","type":"n8n-nodes-base.stickyNote","position":[-220,-40],"typeVersion":1},{"parameters":{"content":"## Select Database\nChoose the database which represents your Knowledge Base","height":275.841854198618,"width":216.47293010628914},"id":"2d294884-4d27-4152-827c-75e981d6a2a4","name":"Sticky Note34","type":"n8n-nodes-base.stickyNote","position":[0,-40],"typeVersion":1},{"parameters":{"content":"Combine all contents to a single text formatted into one line which can be easily stored as an embed","height":275.841854198618,"width":216.47293010628914,"color":7},"id":"56ab1417-8fba-480a-a39c-3c0938de721f","name":"Sticky Note35","type":"n8n-nodes-base.stickyNote","position":[1320,100],"typeVersion":1},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"content","separateBy":"\n"}]},"options":{}},"id":"34fca755-9403-4df6-a501-986d38a257ef","name":"Concatenate to single string","type":"n8n-nodes-base.summarize","position":[2040,200],"typeVersion":1},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.url }}","mode":"url"},"returnAll":true,"fetchNestedBlocks":true},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[520,460],"id":"7fdcbd21-c839-45b0-a564-4775151cc925","name":"Notion","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2360,600],"id":"f3afb28f-700c-4bfa-be18-3fa659127d8c","name":"Recursive Character Text Splitter"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Type|select","condition":"equals","selectValue":"Mental Models"}]},"options":{}},"id":"5d34eeab-2f78-4fb2-9777-da4a2fe1a795","name":"Get updated pages1","type":"n8n-nodes-base.notion","position":[160,-180],"typeVersion":2.2,"credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"title":"={{ $('When chat message received').item.json.sessionId }}","propertiesUi":{"propertyValues":[{"key":"Type|select","selectValue":"AI Answer"}]},"blockUi":{"blockValues":[{"textContent":"=질문:  {{ $('When chat message received').item.json.chatInput }}"},{"textContent":"=답변:  {{ $json.response.text }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1680,940],"id":"f680ffa2-345b-48c2-932c-cf6f2675a320","name":"Notion1","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"title":"={{ $('When chat message received').item.json.sessionId }}","propertiesUi":{"propertyValues":[{"key":"Type|select","selectValue":"AI Answer"}]},"blockUi":{"blockValues":[{"textContent":"=질문:  {{ $('When chat message received').item.json.chatInput }}"},{"textContent":"=답변:  {{ $json.response.text }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1480,1500],"id":"0662bf29-519a-4ec1-ba13-c9ea24ef82f0","name":"Notion2","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Type|select","condition":"equals","selectValue":"AI Answer"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1900,840],"id":"cc051290-3f0e-44b2-8d5a-e3898d3e97b8","name":"Notion3","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"88cb22d5-57bc-4cf7-9dfd-e93b404e2d29","leftValue":"={{ $json.id }}","rightValue":"={{ $('When chat message received').item.json.sessionId }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1860,820],"id":"06b6b50c-3153-41c9-a342-729f19272462","name":"If"},{"parameters":{"resource":"block","blockId":{"__rl":true,"mode":"url","value":""}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1620,760],"id":"c8f28051-f62b-41ca-9d96-e28d8d970ad0","name":"Notion4","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"pageId":{"__rl":true,"mode":"url","value":""},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-2040,880],"id":"21f3e8f8-6ef1-4be8-b83c-9ed2d32842c3","name":"Notion5","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"options":{}},"id":"59965e86-5ea0-4e8e-8399-945690744b16","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-60,1000],"typeVersion":1,"credentials":{"openAiApi":{"id":"lg3WEXtgqxQtkuGE","name":"OpenAi account"}}},{"parameters":{"agent":"conversationalAgent","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[120,740],"id":"2aae36ca-6054-483d-9957-0e7e927022b6","name":"AI Agent1"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,1000],"id":"186df7e2-f04d-47f2-a75f-9a18c07cb7e5","name":"Window Buffer Memory"},{"parameters":{"name":"vector"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[300,940],"id":"a1b7f1b6-0262-47c3-b72f-027334df47e3","name":"Vector Store Tool"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[560,1100],"id":"7a6b1fe3-138b-4d68-b904-74102a79b0be","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"lg3WEXtgqxQtkuGE","name":"OpenAi account"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[280,1180],"id":"50bb3ca5-9079-4335-9430-e74267f94559","name":"Supabase Vector Store3","credentials":{"supabaseApi":{"id":"5pXTUmPtvfWifZmK","name":"n8n supabase"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"https://www.notion.so/sysmae/AI-16315667534680f3af46d99b0bf5b658?pvs=4","mode":"url"},"blockUi":{"blockValues":[{"type":"heading_3","textContent":"={{ $('When chat message received').item.json.chatInput }}"},{"textContent":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[440,780],"id":"9d0cd592-7caa-4437-a90b-eace4478d1c8","name":"Notion6","alwaysOutputData":false,"notesInFlow":false,"credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"726b7b30-d9eb-4ac6-a0a1-5e8101e4384a","name":"results[1].paragraph.text[0].text.content","value":"={{ $json.results[1].paragraph.text[0].text.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,760],"id":"69f85d28-d624-4c7f-8878-ddb362bf1a93","name":"Edit Fields","alwaysOutputData":false},{"parameters":{"jsCode":"// // Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();\n// Initialize an array to store the formatted results\n// Initialize an array to store the formatted results\nconst results = [];\n\n// Loop over all input items\nfor (const item of $input.all()) {\n  // Access the `results` field from the current item's JSON\n  const data = item.json.results;\n\n  if (data) {\n    for (const result of data) {\n      if (result && result.paragraph && result.paragraph.text) {\n        for (const textItem of result.paragraph.text) {\n          if (textItem.text && textItem.text.content) {\n            // Add the formatted output to the results array\n            results.push({ output: textItem.text.content });\n          }\n        }\n      }\n    }\n  }\n}\n\n// Return the formatted results\nreturn results;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,800],"id":"4acdbd04-4dad-4449-88e8-4e0c34487987","name":"Code"}],"connections":{"Limit":{"main":[[{"node":"Get page blocks","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Notion Trigger":{"main":[[{"node":"Input Reference","type":"main","index":0}]]},"Get page blocks":{"main":[[{"node":"Concatenate to single string","type":"main","index":0}]]},"Input Reference":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete old embeddings if exist","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get updated pages","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0},{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Get updated pages":{"main":[[{"node":"Input Reference","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Supabase Vector Store":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Concatenate to single string":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Delete old embeddings if exist":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Get updated pages1":{"main":[[{"node":"Input Reference","type":"main","index":0}]]},"Question and Answer Chain":{"main":[[]]},"Notion3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Notion1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Supabase Vector Store3":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"AI Agent1":{"main":[[{"node":"Notion6","type":"main","index":0}]]},"Notion6":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"d32878b7-ecbb-4146-9ee8-c0d5c86da02e","triggerCount":3,"tags":[]}