workflows/product hunt.json
{"createdAt":"2024-12-27T10:59:52.256Z","updatedAt":"2024-12-27T13:24:13.000Z","id":"HeNXhUfIp77UKGCD","name":"product hunt","active":true,"nodes":[{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[380,0],"typeVersion":1,"id":"bf5e9ae1-f1f9-4185-8e5d-95a9adfef516"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-140,60],"typeVersion":1,"id":"1c825cae-58f8-4651-8472-8207c7bc6a77"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query PostRanking{\n  posts(postedAfter:\"{{new Date(new Date(Date.now()).getTime() - (1000*60*60*1*24)).toUTCString()}}\", order:RANKING, first:5, postedBefore:\"{{new Date(Date.now()).toUTCString()}}\"){\n    edges {\n      node {\n        name\n        tagline\n        description\n        votesCount\n        reviewsRating\n      }\n    }\n  }\n}","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL1","type":"n8n-nodes-base.graphql","position":[60,-20],"typeVersion":1,"id":"7576215b-42ba-4f78-ab9e-9c9c879d7d68"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","position":[600,20],"typeVersion":1,"id":"b7251cb7-473b-4550-8f7c-44f89f4686ad"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord","type":"n8n-nodes-base.discord","position":[800,40],"typeVersion":1,"id":"36ce25dc-9385-4d03-a262-68ede85a8ab4"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query GetTopProductsByCategory($category: String!, $first: Int!) {\n  products(category: \"TECH\", order: RANKING, first: 5) {\n    edges {\n      node {\n        id\n        name\n        tagline\n        description\n        website\n        categories {\n          name\n        }\n        votesCount\n        commentsCount\n        makers {\n          name\n          headline\n        }\n        topics {\n          name\n        }\n        reviews {\n          body\n          rating\n        }\n      }\n    }\n  }\n}","variables":"=","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL","type":"n8n-nodes-base.graphql","position":[280,220],"typeVersion":1,"id":"d42ead50-3929-4024-a65e-24e2241dd24b"},{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists1","type":"n8n-nodes-base.itemLists","position":[560,220],"typeVersion":1,"id":"d1119c12-ec4a-46e3-8d08-0ceb97e52fb0"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set1","type":"n8n-nodes-base.set","position":[780,240],"typeVersion":1,"id":"fcbbd3fa-a1aa-49b1-a10e-e6ca78950669"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord1","type":"n8n-nodes-base.discord","position":[980,260],"typeVersion":1,"id":"f70d8848-b9f1-47b4-bdd0-c2db0d669bd4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,220],"id":"e56b96f5-57d4-4ed9-9976-4d107ae3b5d3","name":"When clicking ‘Test workflow’"}],"connections":{"Cron":{"main":[[]]},"GraphQL1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"GraphQL":{"main":[[{"node":"Item Lists1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"GraphQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"290278b9-425e-4b2b-9882-e3627e9eda4f","triggerCount":1,"tags":[]}