workflows/product hunt.json
{"createdAt":"2024-12-27T10:59:52.256Z","updatedAt":"2024-12-27T11:22:06.000Z","id":"HeNXhUfIp77UKGCD","name":"product hunt","active":true,"nodes":[{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[380,0],"typeVersion":1,"id":"bf5e9ae1-f1f9-4185-8e5d-95a9adfef516"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-140,120],"typeVersion":1,"id":"1c825cae-58f8-4651-8472-8207c7bc6a77"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query PostRanking{\n  posts(postedAfter:\"{{new Date(new Date(Date.now()).getTime() - (1000*60*60*1*24)).toUTCString()}}\", order:RANKING, first:5, postedBefore:\"{{new Date(Date.now()).toUTCString()}}\"){\n    edges {\n      node {\n        name\n        tagline\n        description\n        votesCount\n        reviewsRating\n      }\n    }\n  }\n}","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL1","type":"n8n-nodes-base.graphql","position":[80,100],"typeVersion":1,"id":"7576215b-42ba-4f78-ab9e-9c9c879d7d68"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","position":[600,20],"typeVersion":1,"id":"b7251cb7-473b-4550-8f7c-44f89f4686ad"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord","type":"n8n-nodes-base.discord","position":[800,40],"typeVersion":1,"id":"36ce25dc-9385-4d03-a262-68ede85a8ab4"}],"connections":{"Cron":{"main":[[{"node":"GraphQL1","type":"main","index":0}]]},"GraphQL1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d00ca2f9-39f7-4e7c-a0f9-3e18bddc02e1","triggerCount":1,"tags":[]}