workflows/product hunt.json
{"createdAt":"2024-12-27T10:59:52.256Z","updatedAt":"2024-12-27T13:30:50.000Z","id":"HeNXhUfIp77UKGCD","name":"product hunt","active":true,"nodes":[{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[380,0],"typeVersion":1,"id":"bf5e9ae1-f1f9-4185-8e5d-95a9adfef516"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyHour"}]}},"name":"Cron","type":"n8n-nodes-base.cron","position":[-140,60],"typeVersion":1,"id":"1c825cae-58f8-4651-8472-8207c7bc6a77"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query PostRanking{\n  posts(postedAfter:\"{{new Date(new Date(Date.now()).getTime() - (1000*60*60*1*24)).toUTCString()}}\", order:RANKING, first:5, postedBefore:\"{{new Date(Date.now()).toUTCString()}}\"){\n    edges {\n      node {\n        name\n        tagline\n        description\n        votesCount\n        reviewsRating\n      }\n    }\n  }\n}","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL1","type":"n8n-nodes-base.graphql","position":[60,-20],"typeVersion":1,"id":"7576215b-42ba-4f78-ab9e-9c9c879d7d68"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","position":[600,20],"typeVersion":1,"id":"b7251cb7-473b-4550-8f7c-44f89f4686ad"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord","type":"n8n-nodes-base.discord","position":[800,40],"typeVersion":1,"id":"36ce25dc-9385-4d03-a262-68ede85a8ab4"},{"parameters":{"fieldToSplitOut":"data.posts.edges","options":{"destinationFieldName":"posts"}},"name":"Item Lists1","type":"n8n-nodes-base.itemLists","position":[880,320],"typeVersion":1,"id":"d1119c12-ec4a-46e3-8d08-0ceb97e52fb0"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Votes","value":"={{$json[\"posts\"][\"node\"][\"votesCount\"]}}"}],"string":[{"name":"Name","value":"={{$json[\"posts\"][\"node\"][\"name\"]}}"},{"name":"Description","value":"={{$json[\"posts\"][\"node\"][\"description\"]}}"}]},"options":{}},"name":"Set1","type":"n8n-nodes-base.set","position":[1440,240],"typeVersion":1,"id":"fcbbd3fa-a1aa-49b1-a10e-e6ca78950669"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1321165236350488586/jB8pJdn574oR2lxZbNbtW1CBd_6mFviHS5D-ioNwGgA_Ii2LmiE2kwuvfEQiEonpmnbj","text":"=Here are the top 5 PH projects:\n**Name:** {{$json[\"Name\"]}}\n**Description:** {{$json[\"Description\"]}}\n**Vote:** {{$json[\"Votes\"]}}\n-------","options":{}},"name":"Discord1","type":"n8n-nodes-base.discord","position":[1640,260],"typeVersion":1,"id":"f70d8848-b9f1-47b4-bdd0-c2db0d669bd4"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,220],"id":"e56b96f5-57d4-4ed9-9976-4d107ae3b5d3","name":"When clicking ‘Test workflow’"},{"parameters":{"endpoint":"https://api.producthunt.com/v2/api/graphql","requestFormat":"json","query":"=query GetTopCompanies($topic: String!, $first: Int!) {\n  posts(topic: $topic, order: RANKING, first: $first) {\n    edges {\n      node {\n        id\n        name\n        tagline\n        description\n        votesCount\n        website\n        topics {\n          edges {\n            node {\n              name\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":"={\n  \"topic\": \"{{$item[\"topic\"]}}\",\n  \"first\": \"{{$node[\"Code\"].json[\"companiesPerTopic\"]}}\"\n}\n","headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer d2IOBVjS5fV49j4pK2hFGRv7VUr3S2c8ee0aQh-kmcU"}]}},"name":"GraphQL","type":"n8n-nodes-base.graphql","position":[420,340],"typeVersion":1,"id":"c3152f1c-7917-46ec-9eeb-3b36be5bc812"},{"parameters":{"jsCode":"const topics = [\"AI\", \"Productivity\", \"Developer Tools\", \"Marketing\"];\nconst companiesPerTopic = 5;\n\nreturn { json: { topics, companiesPerTopic } };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,220],"id":"c4fdee9f-6b45-454c-83e0-ffdb56a93e19","name":"Code"}],"connections":{"Cron":{"main":[[]]},"GraphQL1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Discord","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Discord1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"GraphQL":{"main":[[{"node":"Item Lists1","type":"main","index":0}]]},"Code":{"main":[[{"node":"GraphQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3abd37fe-5294-4d38-b41d-1e2280c89020","triggerCount":1,"tags":[]}