workflows/프롬프트 supabase 자동 업로드.json
{"createdAt":"2024-12-29T19:43:23.495Z","updatedAt":"2024-12-29T20:12:12.000Z","id":"SYEurYTmBi89aFIo","name":"프롬프트 supabase 자동 업로드","active":false,"nodes":[{"parameters":{"tableId":"prompts","fieldsUi":{"fieldValues":[{"fieldId":"user_id","fieldValue":"d6932231-d1ac-49d2-ba6c-3ce8fe3dea2c"},{"fieldId":"title","fieldValue":"={{ $('Notion').item.json.name }}"},{"fieldId":"content","fieldValue":"={{ $json.concatenated_content }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[800,-20],"id":"891c8b90-050f-4109-9815-245a65e9b84b","name":"Supabase","credentials":{"supabaseApi":{"id":"QleY1ISHWaTKDcZO","name":"prompt storage supabase"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"16115667-5346-8126-834f-c027ef8fa27e","mode":"list","cachedResultName":"Notes","cachedResultUrl":"https://www.notion.so/1611566753468126834fc027ef8fa27e"},"returnAll":true,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"Type|select","condition":"equals","selectValue":"Prompt"},{"key":"Tag|relation","condition":"contains","relationValue":"16515667534680d09ae2ddda99b92264"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[220,0],"id":"99e6df45-b1f2-4bc4-ae8b-77152ab99466","name":"Notion","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true},"id":"1a8b6d9a-191e-4f07-bc7a-5a2b93a2ddc0","name":"Get page blocks","type":"n8n-nodes-base.notion","position":[420,-20],"executeOnce":true,"typeVersion":2.2,"credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"content","separateBy":"\n"}]},"options":{}},"id":"0f5f2217-79f8-4f57-a98e-298dcf701b18","name":"Concatenate to single string","type":"n8n-nodes-base.summarize","position":[620,-40],"typeVersion":1},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Get page blocks').first().json.parent_id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Tag|relation","relationValue":[[]]}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1020,-20],"id":"06ca59fe-d177-491b-af55-28e69722422b","name":"Notion2","credentials":{"notionApi":{"id":"9iU3idAnZVP72wxa","name":"Notion account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"664a442d-03a5-45b4-96cf-468f3550933a","name":"Schedule Trigger"}],"connections":{"Notion":{"main":[[{"node":"Get page blocks","type":"main","index":0}]]},"Get page blocks":{"main":[[{"node":"Concatenate to single string","type":"main","index":0}]]},"Concatenate to single string":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Notion2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"255c8d2c-37d0-4509-bc66-07b112495875","triggerCount":0,"tags":[]}